@CHARSET "ISO-8859-1";

.ISSUE_BOX_box
{
	border: 3px solid black; 
	padding: 15px 5px 15px 5px;
	overflow:auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.ISSUE_BOX_title
{
	
	font-weight: bold;
	font-size: 17pt;
	/*padding: 10px;*/
}

.ISSUE_BOX_issue_details
{
	font-weight: bold;
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	padding: 5px 0px 5px 0px;
	margin: 5px 0px 5px 0px;
	font-size: 10.5pt;
	line-height: 1.4;
	padding-left: 10px;
	
	
}

.ISSUE_BOX_summary
{
	/*font-weight: bold;*/
	padding: 0px;
	font-size: 10.5pt;
	line-height: 1.6;
	padding: 3px 0px 3px 15px;
	margin: 10px 0px 10px 0px;	
}

.ISSUE_BOX_summary a
{
	font-weight: bold;
}

.ISSUE_BOX_image
{
	float:right;
	margin-left:15px;
	margin-right:5px;
	margin-bottom:10px;
	display: inline-table;
    border: 1px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* Horizontal Line Between*/
.ISSUE_BOX
{
	border-top: 1px dotted black;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
.PAGES_issue_title
{
	
	font-weight: bold;
	font-size: 16pt;
	font-variant: small-caps;
	padding: 10px;
	width: 75%;
	border-top: 1px dotted #999999 
	
}
*/

/*
.PAGES_issue_story_headline
{
	
	font-weight: bold;
	font-size: 13pt;
	font-variant: small-caps;
	
	padding-left: 25px
	
}
*/

/*
.PAGES_issue_story_summary
{

	padding: 5px;
	font-size: 10pt;
	line-height: 1.4;
	padding-left: 50px;
	padding-bottom: 10px
	
}
*/



