
.papBar			{
					float:left;
					width:225px;
					text-align:left;
					padding-left:8px;
					padding-top: 15px;
					padding-right: 8px;
					padding-bottom: 20px;
					
					font-size: 8pt;
					
					border-right: 1px solid black;
					border-bottom: 1px solid black;
					
					background-color: white
					
				}

				
.pap_item_title	{

					font-size: 12px
	
}

.pap_item_summary	{
	
					font-size: 10px;
					color: #555555
	
}

.pap_item_detail	{
	
					font-size: 10px
	
}
				
		
.mainBar_left	{
					float:left;
					
					width:400px;
					text-align:justify;
					padding-left: 10px;
					padding-right:10px;
					border-right: 1px solid #000000;
					border-left: 1px solid #000000;
					
					background-color: white
			
				}
				
.mainBar_right	{
					float:left;

					width: 225px;
					
					font-size: 8pt;
													
					text-align:left;
					padding-left: 10px;
					padding-right:10px;
					padding-top: 15px;
					padding-bottom: 20px;
					
					border-bottom: 1px solid black;
					border-right: 1px solid black;
					
					background-color: white
			
				}				
				
				
				
.feature_summary	{
				padding: 4px 0px 4px 0px;
				border-top: 1px solid #bbbbbb;
				border-left: 1px solid #ffffff;
				border-right: 1px solid #ffffff
				
}

.feature_summary:hover	{
	
				background-color: #f8f8f8;
				border-left: 1px solid #bbbbbb;
				border-right: 1px solid #bbbbbb;
				border-top: 1px solid #bbbbbb
	
}

.feature_summary_blurb	{
	
				font-size: 8pt

}

.feature_summary_list	{

				margin-top: 10px;
				margin-bottom: 35px
				
}

.feature_preview_image	{

				border: 2px solid black;
				margin: 0px 0px 5px 5px

}

.feature_preview_image:hover	{

				border: 2px solid #ff6600

}


.issue_image_preview	{

		border: 2px solid black;
		margin: 0px 5px 5px 0

}

.issue_image_preview:hover	{
	
		border: 2px solid #ff6600;
		margin: 0px 5px 5px 0px

}


.latest_headline	{
	
		font-weight: bold;
		font-size: 18px;
		text-align: left
	
}


.latest_issue		{
	
		height: auto;
		margin-bottom: 5px
	
}



.latest_issue_summary	{
	
		font-size: 12px
	
}



.latest_issue_image_preview	{

				border: 2px solid black;
				margin: 0px 0px 5px 10px

}

.latest_issue_image_preview:hover	{
	
				border: 2px solid #ff6600

}


.latest_issue_dateline	{
	
				text-align: right;
				font-size: 11px;
				width: 70%;
				margin-left: 30%;
				border-bottom: 1px solid #bbbbbb;
				padding-bottom: 3px;
				margin-bottom: 5px
	
}

.latest_issue_dateline_title	{
	
		font-weight: bold;
		font-size: 18px
	
}

.latest_issue_read_more	{
	
		font-size: 10px;
		font-weight: bold
	
}




.schmovies_item		{

			padding: 5px 3px 5px 3px;
			border-bottom: 1px solid #bbbbbb;
			border-left: 1px solid #ffffff;
			border-right: 1px solid #ffffff;

}

.schmovies_item:hover	{
	
			background-color: #f8f8f8;
			border-left: 1px solid #bbbbbb;
			border-right: 1px solid #bbbbbb;
			border-bottom: 1px solid #bbbbbb
	
}
	

.schmovies_preview_image	{

				border: 2px solid black;
				margin-left: 5px;
				margin-bottom: 5px

}

.schmovies_preview_image:hover	{

				border: 2px solid #ff6600

}



.homepage_headlines		{

				font-size: 12px;
				margin-left: 15px;
				border-left: 1px solid #bbbbbb;
				padding-left: 10px;
				margin-bottom: 8px;
				text-align: left

				}
				
.homepage_headline_link	{

				font-size: 13px
	
}
				
.homepage_headline		{

				padding: 2px;
				border: 1px solid white

}

.headlines_title		{

				border-bottom: 1px solid #bbbbbb;

				font-weight: bold;
				font-size: 12px;

				padding-top: 10px;
				padding-bottom: 3px;
				margin-bottom: 5px;
				margin-right: 50%
	
}

.homepage_headline:hover	{
	
				background-color: #f8f8f8;
				border: 1px solid #bbbbbb	
	
}

.headlines_bottom_of_list	{
	
				width: 50%;
				margin-right: 50%;
				
				border-top: 1px solid #bbbbbb
	
}



.indyMediaLink	{
	
				border-top: 1px solid black;
				padding-top: 20px
				        
}





.pap_item		{

				padding: 5px;
				border: 1px solid white
	
}

.pap_item:hover		{
	
				background-color: #f8f8f8;
				border: 1px solid #bbbbbb				
	
}

				
				
.latest_issue_pdf_download	{

				font-size: 10px;
				padding-right: 20px;
				text-align: right;
				height: 10px
	
}
