.mainBar		{	width:608px;
					padding-right:20px;
					border-right: 1px solid black;
					padding-top: 10px;
					margin-bottom: 40px;
					float: left
					
				}

.mainBar_right	{	width:249px;
					border-right: 1px solid black;
					float: left;
					
					padding: 10px;
					
					padding-bottom: 50px;
					border-bottom: 1px solid black
					
				}
				
.story_preview_element	{

					padding-top: 10px;
					padding-bottom: 10px
					
				}

				
.backIssue		{

			border-bottom: 1px solid #bbbbbb;
			margin-bottom: 13px

}




.backIssue_image	{

			border: 2px solid black;
			margin-left: 8px;
			margin-bottom: 8px
	
}



.backIssue_image:hover	{

			border: 2px solid #ff6600

}
/*
     FILE ARCHIVED ON 20:55:57 Feb 18, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:39:52 Feb 04, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 54.962 (3)
  esindex: 0.006
  captures_list: 66.874
  CDXLines.iter: 8.831 (3)
  PetaboxLoader3.datanode: 100.217 (5)
  exclusion.robots: 0.199
  exclusion.robots.policy: 0.187
  RedisCDXSource: 0.689
  PetaboxLoader3.resolve: 59.337 (2)
  load_resource: 172.045
*/