.issue_summary_article	{
	
		border: 1px solid white;
		background-color: #ffffff;
		padding: 5px
	
}


.issue_summary_article:hover	{
	
		border: 1px solid #dddddd;
		background-color: #f2f2f2;
		padding: 5px
	
}
/*
     FILE ARCHIVED ON 20:58:28 Feb 18, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:39:52 Feb 04, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 324.385 (3)
  esindex: 0.01
  captures_list: 399.289
  CDXLines.iter: 14.907 (3)
  PetaboxLoader3.datanode: 367.705 (5)
  exclusion.robots: 0.281
  exclusion.robots.policy: 0.262
  RedisCDXSource: 55.729
  PetaboxLoader3.resolve: 241.079 (5)
  load_resource: 304.255
*/