.mainBar		{	width:608px;
					padding-right:20px;
					border-right: 1px solid #999999;
					padding-top: 10px;
					margin-bottom: 40px;
					text-align:left
				}
					
					
.leftBar		{	margin-top:0px;
					padding-right: 10px;
					width:110px;
					text-align:left
				}					
				
.issueCommentLink	{ color:#ff6600	}

.issueCommentLink:hover	{	color:#ff9900	}

.issueComments { display: none }



.mainBar_right	{	width:255px;
					border-right: 1px solid black;
					float: left;
					
					padding: 10px;
					
					padding-bottom: 50px;
					border-bottom: 1px solid black
					
				}
				
				
				

				
				
				
				
				
				
				
.feature_summary	{
				padding: 4px 0px 4px 0px;
				border: 1px solid white;
				border-top: 1px solid #bbbbbb
				
}

.feature_summary:hover	{
	
				background-color: #f8f8f8;
				
				border-left: 1px solid #bbbbbb;
				border-right: 1px solid #bbbbbb
	
}


.feature_summary_blurb	{
	
				font-size: 8pt

}

.feature_summary_list	{

				margin-top: 10px;
				margin-bottom: 35px
				
}

.feature_preview_image	{

				border: 2px solid black;
				margin-left: 5px;
				margin-bottom: 5px

}


.feature_preview_image:hover	{

				border: 2px solid #ff6600

}
				
/*
     FILE ARCHIVED ON 03:46:14 Mar 16, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:12:54 Feb 04, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 51.579 (3)
  esindex: 0.007
  captures_list: 72.289
  CDXLines.iter: 13.914 (3)
  PetaboxLoader3.datanode: 56.942 (4)
  exclusion.robots: 0.183
  exclusion.robots.policy: 0.169
  RedisCDXSource: 1.976
  PetaboxLoader3.resolve: 31.511
  load_resource: 51.723
*/