body {
	background-color: #ffffff;
	margin: 0px 0px 0px 0px
}

body, td	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt
}

p, ul		{

	font-size: 10pt;
	line-height: 1.6;
	text-align: left;
}


h1 {
	font-size: 20pt;
	font-weight: bold;
	text-align: left;
	/*margin-top: -3px;*/
}


h2 {
	font-size: 15pt;
	font-weight: bold;
	text-align: left;
}

/*h2 {  font-size: large; font-weight: bold}*/

H3 {
	font-size: 14pt;
	 font-weight: bold
}

H4 {
	font-size:larger
}

h5 {
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	margin-top: -3px;
	margin-bottom: -3px;

}

.small {
	font-size:10px
}

img	{
	padding: 0px;
	margin: 0px;
	border: 0pxHelvetica, sans-serif;
}

div	{
	padding: 0px;
	margin: 0px;
	border: 0px

}

A:link {
}

A:visited {
}

A:active {
}

a	{ color:#ff6600 }

a:hover { color:#FF9900 }



pre { font-size: smaller
}

.big-white-text {
	color: #FFFFFF;
	font-size:larger;
	font-weight:bold;
}

.MONOPRESIST_headline {
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
}
.MONOPRESIST_headline_h1 {
	font-size: 22pt;
	font-weight: bold;
	text-align: center;
}

.main_container	{
					width: 1043px;
					height: auto
				}





.pageHeader		{
					padding: 0px;
					margin: 0px;
					border: 0px;
					padding-left:9px;
					background-color:white;
					float: none;
					display:block;
					height:90px
				}

.schnewsLogo	{	float:left
				}

.bannerGraphic	{	float:right
				}

.leftBar		{
					padding-top: 10px;
					width:120px;
					text-align:center;
					padding-left:6px;
					padding-bottom: 20px;
					padding-right: 6px;
					background-color: #ffffcc;
					border-bottom: 1px solid black;
					border-left: 1px solid black;
					float:left
				}

.mainBar		{
					float:left;

					width:350px;
					text-align:justify;
					padding-left: 10px;
					padding-right:10px;
					border-right: 1px solid #000000;
					border-left: 1px solid #000000

				}

.mainBar_wide		{
					float:left;

					width: 608px;
					text-align:justify;
					padding-left: 10px;
					padding-right:10px;
					border-right: 1px solid #000000;
					border-left: 1px solid #000000

				}

.navBar			{
					padding: 0px;
					margin: 0px;
					border: 0px;
					background-color:#f60;
					width:100%;
					height: 30px;
					display:block;


				}

.navBar_item	{
					float: left;
					border-left: 1px solid black;

					font:bold 12px/2.5 "Arial", san-serif;
					color: black;

					height: 30px;

					padding-left: 10px;
					padding-right: 10px;

					text-align: center;
					vertical-align: middle

				}


/* -- ORIGINAL CSS FOR SEARCH BUT ADAPTED FOR DuckDuckGo SEARCH */
.search_bar		{
					height: 30px;
					padding-left: 15px;
					font:bold 12px/2.5 "Arial", san-serif;
					/*display: block;*/

					float: left;
					border-left: 1px solid black;
					overflow: hidden;
				}

.search_bar form {
     padding: 0px;
				}


.search_bar input {
     height: 21px;
     padding: 3px;
     border: 0px; 
     font-family: Arial, Helvetica, sans-serif;
   			}



.copyleftBar	{
					background-color: black;
					width: 100%

				}


.footer			{
					float:left;
					clear:left;
					padding: 10px 0px 10px 136px;
					width: 700px
				}



.website		{
					display: none
				}
	