body {
	background-color: #ffffff;
	margin: 0px 0px 0px 0px
}

body, td	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt
}

H4 {
	font-size:larger
}

H3 {
	font-size: 14pt;
	 font-weight: bold
}

.small {
	font-size:10px
}

img	{
	padding: 0px;
	margin: 0px;
	border: 0px
}

div	{
	padding: 0px;
	margin: 0px;
	border: 0px

}

A:link {
}

A:visited {
}

A:active {
}

a	{ color:#ff6600 }

a:hover { color:#FF9900 }

h2 {  font-size: large; font-weight: bold}

pre { font-size: smaller
}

.big-white-text {
	color: #FFFFFF;
	font-size:larger;
	font-weight:bold;
}














.main_container	{
					width: 960px;
					height: auto
				}


.pageHeader		{	
					padding: 0px;
					margin: 0px;
					border: 0px;
					padding-left:9px;
					background-color:white;
					float: none;
					display:block;
					height:90px
				}
				
.schnewsLogo	{	float:left
				}
				
.bannerGraphic	{	float:right
				}
		
.leftBar		{
					padding-top: 10px;
					width:200px;
					text-align:center;
					padding-left:6px;
					padding-bottom: 20px;
					padding-right: 6px;
					background-color: #ffffcc;
					border-bottom: 1px solid black;
					border-left: 1px solid black;
					float:left
				}
				
.mainBar		{
					float:left;
					
					width:350px;
					text-align:justify;
					padding-left: 10px;
					padding-right:10px;
					border-right: 1px solid #000000;
					border-left: 1px solid #000000
			
				}			

.mainBar_wide		{
					float:left;
					
					width: 608px;
					text-align:justify;
					padding-left: 10px;
					padding-right:10px;
					border-right: 1px solid #000000;
					border-left: 1px solid #000000
			
				}					
				
.navBar			{
					padding: 0px;
					margin: 0px;
					border: 0px;
					background-color:#f60;
					width:100%;
					height: 30px;
					display:block;
					
										
				}	
				
.navBar_item	{
					float: left;
					border-left: 1px solid black;
					
					font:bold 12px/2.5 "Arial", san-serif;
					color: black;
					
					height: 30px;
					
					padding-left: 10px;
					padding-right: 10px;
								
					text-align: center;
					vertical-align: middle

				}
				
.search_bar		{
					height: 30px;
					padding-left: 30px;
					
					font:bold 12px/2.5 "Arial", san-serif;
					
					
					
					float: left;
					border-left: 1px solid black
					
				}
				
				
.copyleftBar	{
					background-color: black;					
					width: 100%
										
				}	
				
				
.footer			{					
					float:left;
					clear:left;
					padding: 10px 0px 10px 136px;
					width: 700px
				}					
				
				
				
.website		{ 	
					display: none 	
				}
				
				
.main_page_title	{

				font-weight: bold;
				font-size: 24px;
				margin-left: 25%;
				margin-bottom: 20px;
				padding-bottom: 5px;
				width: 75%;
				text-align: right;
				border-bottom: 1px solid #bbbbbb;
				color: #999999

}				