/* Default CSS Document */

															/** BODY ELEMENTS **/
* {
	margin: 0;
	padding: 0;
	}
	body {
		color: #333;
		background-color: #fff;
		font-family: "Arial", "Helvetica", sans-serif;
		font-size: .75em;
		text-align: center;
		}






															/** MAIN CONTAINERS **/
div#container {
	width: 900px;
	margin: 0 auto;
	text-align: left;
	}
	div#header {
		
		}
		div#header-in {
			
			}
	div#content {
		
		}
		div#center {
			margin: 0 0 0 180px;
			}
			div#center-in {
				
				}
		div.column {
			width: 180px;
			}
			div#left {
				float: left;
				}
				div.column-in {
					
					}
	div#footer {
		clear: both;
		}
		div#footer-in {
			
			}






															/** SUB CONTAINERS **/
* { }






															/** LISTS **/
* { }






															/** TYPOGRAPHY **/
.x {
	display: none;
	}
div#uhoh {
	width: 400px;
	margin: 100px auto;
	padding: 20px 30px;
	line-height: 1.5em;
	text-align: left;
	}
	div.unauthorized-401, div.forbidden-403,
	div.notfound-404, div.internalerror-500 {
		color: #333;
		background-color: #ffc;
		border: 1px solid #ff0;
		}
	div.unauthorized-401 a, div.forbidden-403 a,
	div.notfound-404 a, div.internalerror-500 a {
		color: #00f;
		background-color: #ffc;
		}






															/** FORMS **/
* { }






															/** END **/