@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
	
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
html {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
	width:100%;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}
.header{
	background:#000 url('../images/squall-banner.jpg') left top no-repeat;
	max-width:960px;
	min-height:123px;
	padding:110px 0 4px 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	width:100%;
}
.s .header{
	background:#000 url('../images_main/banner.jpg') left top no-repeat;
}


.nav{
	background:#FFFFCC;
	width:300px;
	padding:18px;
 	border-left: 2px solid black;
	border-right: 2px solid black;
 	border-bottom: 2px solid black;
	/*margin:10px;*/
	margin-left:0;
	float:left;
	color: black;
}
.nav ul{
	list-style:none;
	padding:0;
}
#notes {
   	font-size: 0.8em;
	line-height: 90%;
/*	margin-left: 15px; */
	margin-bottom: 20px;

}
a, .style2 {
	color: #FF6600;
	text-decoration: none;
	font-weight:bold;
}
/* mouse over link */
a:hover {
    color: #f4bc42;
	text-decoration: none;
}	
.article{
	background:#ffffff;
	max-width:660px;
	min-width:660px;
	padding:20px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	/*margin:10px 0;*/
	float:right;
}
p, ul{
	padding-top:7px;
	padding-bottom:7px;
	font-size: 0.88em;
	line-height:150%;
}
p + ul {
    margin-top: -1px;
}
p.style2{padding-bottom:0;}
h6, h4{
	padding-top:5px;
	padding-bottom:5px;
}

/* date of publication */
.style3 {
	border-bottom: 0.02px solid lightgrey;
	border-top: 0.02px solid lightgrey;
   	font-size: 0.72em;
}
/* photo caption */
.style4 {
	font-size: 0.7em;
	line-height:130%;
}
/* subhead - first paragraph */
.style5 {
	font-size: 0.94em;
	font-weight:bold;
	line-height:145%;
}
/* article strapline */
.style6 {
	/*padding-top:5px;*/
	padding-bottom:15px;
	font-size: 1.1em;
	font-weight:bold;
	line-height:130%;

}
/* Med-Small font for secondary/ancilliary menuing */
.style7 {
   	font-size: 0.72em;
}

/* h styles */
h1 {
    font-size: 1.9em;

	/*letter-spacing: -1px; */
   /* font-weight: 900; */
    padding-bottom:10px;
}
h2 {
    font-size: 1.5em;

	/*letter-spacing: -1px;*/
	/*font-weight: 900;*/
    padding-bottom:10px;
    padding-top:5px;
}
h3 { 
	font-size: 1.2em;

	padding-bottom:5px;
    padding-top:5px;
}

h4 {    font-size: 1.2em;

		line-height:120%;
        padding-bottom:5px;
        padding-top:5px;
}

h5 {  font-size: 0.7em;
}

h6 {  font-size: 0.7em;
}

/* -- PHOTO PLUS CAPTION -- */

.imageHolder {
	float:right;
	margin-left:15px;
}

.imageHolder .caption {
	font-size: 0.7em;
	text-align:left;
	margin-left:15px;
	margin-bottom:5px;
	line-height:130%;
}


.imageHolderShadowBorder {
	float:right;
	margin-left:10px;
	border:1px solid black;
	box-shadow:5px 5px 5px grey;
}

 .imageHolderShadowBorder .caption {
	font-size: 0.7em;
	text-align:center;
	margin-left:10px;
	line-height:130%;
	/*margin-bottom:5px;*/
} 

/* -- Horizontal Line -- */
hr {
border-top: 0.1px solid lightgrey;
}


/* -- Block Quote -- */
blockquote { 
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.2em;

}

@media (max-width: 1000px){
	.nav{
		width:100%;
		margin:0;
		float:none;
	}
	.nav ul li{
		display:inline;
		padding-right:18px;
	}
	.article{
		margin:0;
		width:100%;
		max-width:100%;
		min-width:0;
		padding:3%;
		float:none;
	}
}
