/*
 * 	===================================================================
 * 
 * 							Main CSS Overrides
 *  
 * 	=================================================================== 
 */
.leftBar			{
	
	padding-right:10px;
	width: 110px

}

.mainBar			{

	width: 732px;
	padding-top: 10px;
	text-align:left


}

.rightBar			{

	float:left;
	margin-top:0px;
	width:145px;
	text-align:center;
	padding-left:8px;
	padding-right: 8px;
	padding-bottom: 25px;
	border-right: 1px solid black;
	border-bottom: 1px solid black
					
}					
				

				
							

				
				
/*
 * 	===================================================================
 * 
 * 							SchMOVIE Items
 *  
 * 	=================================================================== 
 */
.schmovie_item_main_table	{
	
	width: 720px;
	border: 1px solid #ffffff
	
}
		
.schmovie_item_main_table:hover	{
	
	border: 1px solid #bbbbbb
	
}

.schmovie_item_title	{
	
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-align: left
	
}

.schmovie_item_headline	{
	
	font-size: 13px;
	font-weight: bold;
	color: black;
	padding-bottom: 14px;
	text-align: left
	
}

.schmovie_item_body	{
	
	color: black;
	text-align: left
	
}

.schmovie_item_image_small	{
	
	border: 2px solid black
	
}

.schmovie_item_image_small:hover	{
	
	border: 2px solid #f60
	
}

.schmovie_item_image_small_container	{
	
	float: right;
	margin-left: 5px;
	margin-bottom: 5px
	
}

.schmovie_item_image_small_link	{
	
	text-align: center;
	font-size: 10px
	
}



