@charset "utf-8";
/* CSS Document */


body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
html {
	
	font-family: Arial, Helvetica, sans-serif;
}
/*
a, .style2 {
	color: #FF3300;
	text-decoration: none;
	font-weight: 800;
}
*/

/* mouse over link */
/*
a:hover {
    color: #FFAFA2;
	text-decoration: none;
}	
*/

p, ul, ol, td {
	padding-top:7px;
	padding-bottom:7px;
	font-size: 0.88em;
	line-height:160%;
}
p + ul {
    margin-top: -1px;
}
p.style2{padding-bottom:0;}
h6, h4{
	padding-top:5px;
	padding-bottom:5px;
}

/* FORMATTING FOR ARTICLES */
/* date of publication */
.style3 {
	border-bottom: 0.02px solid lightgrey;
	border-top: 0.02px solid lightgrey;
   	font-size: 0.72em;
}
/* photo caption */
.style4 {
	font-size: 0.7em;
	line-height:130%;
}
/* subhead - first paragraph */
.style5 {
	font-size: 0.94em;
	font-weight:bold;
	line-height:160%;
}
/* article strapline */
.style6 {
	/*padding-top:5px;*/
	padding-bottom:15px;
	font-size: 1.1em;
	/*font-weight:bold;*/
	line-height:150%;
    font-family: 'Fjalla One', sans-serif;
}
/* Med-Small font for secondary/ancilliary menuing */
.style7 {
   	font-size: 0.72em;
}

/* Indent Paragraph */
.tab30 { 
	margin-left: 30px;
 }
.tab60 { 
	margin-left: 60px;
 }

/* h styles */

h1 {
    font-size: 1.9em;
	/*letter-spacing: -1px; */
   /* font-weight: 900; */
    padding-bottom:10px;
}

h2 {
    font-size: 1.5em;
	/*letter-spacing: -1px;*/
	/*font-weight: 900;*/
    padding-bottom:10px;
    padding-top:5px;
}

h3 { 
	font-size: 1.3em;
	padding-bottom:5px;
    padding-top:5px;
}

h4 {  
    font-size: 1.2em;
	line-height:120%;
    padding-bottom:5px;
    padding-top:5px;
}

h5 {  font-size: 0.7em;
}

h6 {  font-size: 0.7em;
}

/* -- PHOTO PLUS CAPTION -- */

.imageHolder {
	float:right;
	margin-left:15px;
	display: inline-table;
    border: 1px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.imageHolder .caption {
	font-size: 0.7em;
	text-align:left;
	/*margin-left:5px;*/
    padding: 5px;	
    margin-top: -8px;
    margin-bottom:5px;
	line-height:130%;
	display: table-caption;
	caption-side: bottom;
    background-color: #FFF;
    border: 1px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.imageHolderShadowBorder {
	float:right;
	margin-left:10px;
	border:1px solid black;
	box-shadow:5px 5px 5px gray;
}

 .imageHolderShadowBorder .caption {
	font-size: 0.7em;
	text-align:center;
	margin-left:10px;
	line-height:130%;
	/*margin-bottom:5px;*/
} 


/* BACK ISSUE LIST DIVS */

#backissue1 {
	border-top: 1px solid black;	
	padding: 10px 20px 10px 20px;
}

.imageHolderIssue {
	float:right;
	margin-left:10px;
	border:1px solid black;
	box-shadow:5px 5px 5px grey;
}

 .imageHolderIssue .caption {
	font-size: 0.7em;
	text-align:center;
	margin-left:10px;
	/*margin-bottom:5px;*/
} 

.imageHolder160 {
	float:right;
	margin-left:10px;
	border:1px solid black;
	box-shadow:5px 5px 5px grey;
}



/* BOX AND BLOCKQUOTE FORMATTING */
/* -- Block Quote -- */
blockquote { 
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.2em;
}

.textbox-shadow {
  width: 100%;
  border: 1px solid #C4C4C4;
  /*background-color:#F2F2F2;*/
  padding: 10px 25px 0px 25px;
  margin: 15px 0px 15px 0px;
  box-shadow: 5px 5px 3px #DBDBDB;
  float: left;
}

.textbox {
  width: 100%;
  border: 1px solid black;
  /*background-color:#F2F2F2;*/
  padding: 10px 25px 0px 25px;
  margin: 15px 0px 15px 0px;
   float: left;
}


