@charset "utf-8";
/* CSS Document */

/* FONT FORMATTING */

/* -- Alphabet Letter -- */
.LETTER {
	padding-top:5px;
	/*padding-bottom:15px;*/
	font-size: 2.5em;
	font-style: italic;
	font-weight: bold;
	/*text-align: center;*/
	/*line-height:150%;*/
    /*font-family: 'Fjalla One', sans-serif;*/
}


/* -- Title of entry -- */
.WHITE_BOOK_title {
	/*padding-top:5px;*/
	/*padding-bottom:15px;*/
	text-align: left;
	font-size: 2.1em;
	font-weight:bold;
	/*line-height:150%;*/
    /*font-family: 'Fjalla One', sans-serif;*/
}

/* -- Alphabet Menu -- */
.WHITE_BOOK_month_list {
    	font-size: 1.2em;
	font-weight: 700;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-top:7px;
	padding-bottom:7px;

	
}


/* Med-Small font for secondary/ancilliary menuing */
.style7 {
   	font-size: 0.72em;
	line-height:100%;
}


/* BOX AND BLOCKQUOTE FORMATTING */


/* -- Block Quote -- */
blockquote { 
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.2em;
}

.WHITE_BOOK_textbox-shadow {
  width: 100%;
  border: 1px solid #C4C4C4;
  /*background-color:#F2F2F2;*/
  padding: 10px 25px 0px 25px;
  margin: 15px 0px 15px 0px;
  box-shadow: 5px 5px 3px #DBDBDB;
  float: left;
}

.WHITE_BOOK_textbox {
  /*width: 100%;*/
  border: 1px solid black;
  /*background-color:#F2F2F2;*/
  padding: 10px 25px 10px 25px;
  margin: 15px 0px 15px 0px;
  /*float: left;*/
}

.WHITE_BOOK_extra {
  /*width: 100%;*/
  border: 1px solid black;
  /*background-color:#F2F2F2;*/
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2em;
  line-height:150%;
  padding: 10px 25px 10px 25px;
  margin: 15px 0px 15px 0px;
  /*float: left;*/
}

/* QUICKFINDER */
#QUICKFINDER p {
	font-size: 1.2em;
	line-height:120%;
	margin-top: -7px;
	margin-bottom: -7px;
}

/* -- Title of entry -- */
#QUICKFINDER h1 {
	/*padding-top:5px;*/
	/*padding-bottom:15px;*/
	text-align: left;
	font-size: 2.5em;
	font-weight:bold;
	/*line-height:150%;*/
    /*font-family: 'Fjalla One', sans-serif;*/
}

#QUICKFINDER h2 {
	padding-top:15px;
	/*padding-bottom:15px;*/
	text-align: left;
	font-size: 2em;
	font-weight:bold;
	/*line-height:150%;*/
    /*font-family: 'Fjalla One', sans-serif;*/
}