@CHARSET "ISO-8859-1";


.event_container
{
	
	width: 50%;
	padding: 15px;
	margin: 10px;
	
	border: 2px solid #999999;
	border-radius: 10px;
	
}

.event_name
{
	
	font-size: 15pt;
	font-weight: bold;
	font-variant: small-caps
	
}




.form_label
{
	
	font-weight: bold
	
}

.form_input
{
	
	width: 650px
	
}