body {
	background-color: #ffffcc;
	margin: 0px 0px;
}

body, td	{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11pt;
    line-height: 1.5;	
}

H1 {  
    font-size: 18pt; 
    font-weight: bold
}

H2 {  
    font-size: 16pt; 
    font-weight: bold
}

H3 {
	font-size: 15pt;
	 font-weight: bold
}

H4 {
	font-size:larger
}

.small {
	font-size:10px
}

A:link {
}

A:visited {
}

A:active {
}

a	{ color:#ff6600 }

a:hover { color:#FF9900 }



pre { font-size: smaller
}

.big-white-text {
	color: #FFFFFF;
	font-size:larger;
	font-weight:bold;
}

/* -- PHOTO PLUS CAPTION -- */

.imageHolder {
	float:right;
	margin-left:15px;
	margin-bottom: 5px;
	/*display: inline-table;*/
    border: 1px solid black;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

.imageHolder .caption {
	font-size: 0.7em;
	text-align:left;
	/*margin-left:5px;*/
    padding: 5px;	
    margin-top: -8px;
    margin-bottom:5px;
	line-height:130%;
	/*display: table-caption;*/
	caption-side: bottom;
    /*background-color: #FFF;*/
    border: 1px solid black;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

/* PLAIN BOX FOR TEXT */
.textbox {
  /*width: 100%;*/
  border: 1px solid black;
  background-color:#FFFFFF;
  padding: 15px 15px 5px 15px;
  margin: 10px 0px 10px 0px;
   float: left;
}


.pageHeader		{	padding-left:9px;
					background-color:white
				}
				
.leftBar		{
					float: left;
					width:120px;
					text-align:center;
					padding-top: 6px;
					margin-top:32px;
					padding-left:6px
				}
				
.mainBar		{
					float:left;
					
					width:350px;
					text-align:justify;
					padding-left: 10px;
					padding-right:10px;
					border-right: 1px solid #000000;
					border-left: 1px solid #000000;
			
				}			
				
.navBar			{
					background-color:#f60;
					width:100%;
					padding-left:126px
										
				}			
				
.copyleftBar	{
					
					width:100%;
					padding-left:126px
										
				}	
				
				
.footer			{					
					float:left;
					clear:left;
					padding: 10px 0px 10px 136px;
					width: 700px
				}					
				
				
				
.website		{ 	
					display: none 	
				}
