@CHARSET "ISO-8859-1";


.AND_FINALLY_container
{
	
	width: 300px;
	padding-left: 10px;
	
	float: left
	
}

.AND_FINALLY_item
{
	
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	
}

.AND_FINALLY_item:hover
{
	
	border: 1px solid #c9c9c9;
	background-color: #fcfcfc
	
}

.AND_FINALLY_date
{
	
	font-size:  7pt;
	color: #999999;
	font-weight: bold;
	text-align: right
	
}

.AND_FINALLY_title
{
	
	font-family: 'Arial';
	font-weight: 700;
	font-variant: small-caps	
	
}

.AND_FINALLY_summary
{
	
	font-size: 10pt
	
}