@CHARSET "ISO-8859-1";


.COMMENTS_form_container
{
	
	padding: 15px;
	margin: 10px;
	border-top: 2px dotted #999999
		
}

.COMMENTS_form_title
{

	font-size: 14pt;
	font-weight: bold;
	font-variant: small-caps;
	
	padding-bottom: 10px
	
}

.COMMENTS_form_author_label
{
	
	font-size: 9pt
	
}

.COMMENTS_form_author
{
	
	width: 50%
	
}

.COMMENTS_form_textarea
{
	
	width: 75%;
	height: 150px;
	margin-bottom: 10px
	
}

.COMMENTS_add_notice
{
	
	font-size: 16pt;
	font-weight: bold;
	font-variant: small-caps;
	color: blue;
	
	text-align: center;
	padding: 15px;
	margin: 10px;
	border-top: 2px dotted #999999	
	
}




.COMMENTS_display_container
{
	
	padding: 20px;
	margin: 10px;
	
	border: 2px solid #999999;
	border-radius: 5px
	
}
.COMMENTS_display_container:hover
{
	
	border: 2px solid #666666;
	
}

.COMMENTS_display_author
{
	
	font-size: 9pt;
	color: #666666;
	text-align: right;
	padding: 10px;
	padding-top: 0px;
	margin-bottom: 10px;
	
	width: 70%;
	margin-left: auto;
	border-bottom: 1px dotted #999999 
	
}

.COMMENTS_display_title
{
	
	font-size: 14pt;
	font-weight: bold;
	font-variant: small-caps;
	
	padding-bottom: 15px;
	
	
	padding-top: 30px;
	margin-top: 25px;
	border-top: 2px dotted #999999
	
}

.COMMENTS_display_content
{
		line-height: 1.5;
}

.COMMENTS_form_valid
{
	
	display: none;
	
}