@CHARSET "ISO-8859-1";


.CRAP_ARREST_item
{
	margin-bottom: 15px;
	border: 2px solid black;
	/*border-top-left-radius: 10px;*/
	/*border-top-right-radius: 10px;*/
	border-radius: 4px;
	
	background-color: black
	
}

.CRAP_ARREST_date
{
	
	font-size:  8pt;
	color: #999999;
	font-weight: bold;
	text-align: right;
	
	padding: 0px 5px 5px 0px;
	
	background-color: #ffffff
	
}

.CRAP_ARREST_title
{
	
	font-size: 20pt;
	padding-bottom: 5px;
	font-family: 'Arial';
	font-weight: 700;
	font-variant: small-caps;
	
	text-align: center;
	
	color: white

}

.CRAP_ARREST_title_af
{
	
	font-size: 20pt;
	padding-bottom: 5px;
	font-family: 'Arial';
	font-weight: 700;
	font-style: italic;
	
	text-align: center;
	
	color: white

}

.CRAP_ARREST_content
{
	
	/*border-top-left-radius: 20px;*/
	/*border-top-right-radius: 20px;*/
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
	background-color: #ffffff;
	padding: 10px
	
}

.CRAP_ARREST_content p
{
	
	padding: 7px 0px 7px 0px
	
}

.CRAP_ARREST_graphic
{
	
	float: right;
	padding-left: 15px;
	padding-bottom: 10px;
	
}
