@CHARSET "ISO-8859-1";



.STORIES_story_container
{
	
	
	width: 700px;
	padding: 20px;
	border-right: 1px solid #999999;
	
	float: left
	
}

.STORIES_story_title
{
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 20pt;
	font-variant: small-caps;
	
	padding-bottom: 10px
	
}


.STORIES_story_title2
{
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 18pt;
	/*font-variant: small-caps;*/
	padding-bottom: 10px
	
}


.STORIES_story_subheadline
{
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 13pt;
	font-variant: small-caps;
	
	padding-bottom: 10px;
	
	text-align: left
	
}

.STORIES_story_content p
{
	line-height: 1.5;
	padding: 7px 0px 7px 0px;
	
}

.STORIES_story_info
{
	
	text-align: right;
	
	font-size: 9pt;
	color: #666666;
	margin-bottom: 10px
	
}

.STORIES_story_graphic
{
	
	float: right;
	padding: 15px
	
}



.STORIES_similar_stories_container
{
	
	float: left;
	padding: 8px;
	width: 280px
	
}

.STORIES_similar_stories_title
{
	
	font-weight:bold;
	font-size: 15pt;
	font-variant: small-caps;
	
	padding: 15px
	
}

.STORIES_similar_stories_headline
{
	
	font-weight: bold;
	font-size: 13pt;
	font-variant: small-caps;
	
	padding: 5px;
	padding-left: 15px;
	border-top: 1px dotted #999999
	
}

.STORIES_similar_stories_summary
{
	
	padding-left: 15px;
	font-size: 10pt
	
}

.STORIES_similar_stories_keywords
{
	
	font-size: 9pt;
	text-align: right;
	padding: 5px
	
}
 
.STORIES_story_keywords
{

	padding-top: 35px;
	padding-bottom: 20px;
	text-align: right
	
}

.STORIES_social_media_links
{
	
	text-align: right;
	width: 90%;
	padding-top: 20px;
	margin: auto;
	
	border-top: 1px dotted #999999
	
}

.STORIES_previous_next_links
{
	
	text-align: right;
	width: 90%;
	padding-top: 20px;
	margin: auto;
	margin-top: 10px;
	
	border-top: 1px dotted #999999
	
}

.STORIES_additional_graphics
{
	
	padding: 0px;
	margin: 0px
	
}

.STORIES_additional_graphic
{
	
	border-top: 1px dotted #999999;
	padding-top: 5px;
	padding-bottom:5px;
	
	display: block
	
}

.STORIES_additional_graphic_caption
{
	
	padding-bottom: 10px;
	
	font-size: 9pt;
	font-weight: 600
	
}