@CHARSET "ISO-8859-1";



.KEYWORDS_list_container
{
	
	
	width: 700px;
	padding: 20px;
	border-right: 1px solid #999999;
	
	float: left
	
}


.KEYWORDS_list_title
{
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 20pt;
	font-variant: small-caps;
	
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px dotted #666666
	
}






.KEYWORDS_small_list_container
{
		
	padding: 5px;
	float: left		
		
}
.KEYWORDS_small_list_title
{

	font-family: 'Arial';
	font-weight: 700;
	font-size: 16pt;
	font-variant: small-caps;
	
	padding-bottom: 6px;
	margin-bottom: 6px;

}

.KEYWORDS_small_list_item
{
	
	font-size: 9pt;
	padding: 4px 0px 4px 10px
	
}






