a:hover				{   color: red 		}

a					{	border: 0px;
						font-size: 11px
					}


body, td, input, textarea			{ 	font-family:Arial, Helvetica, sans-serif;
										font-size: 12px
									}
			
body				{	padding-left: 5%;
						padding-right: 5%
					}			
			
.errorMessage			{ 	font-size: 11px;
							color: red	
						}
						
.heading			{ 	font-size: 16px;
						font-weight: bold		
					}
												
						
						
						
input, textarea, select		{	border: 2px solid #777799;
								padding: 5px ;
								background-color:#eeeeff	}						
						
						

					
					
					
.heavy_border		{
	
							border: 2px solid black;
							padding: 5px;
							text-align: center
					
}	

.light_border		{
	
							border: 1px solid #666666;
							padding: 5px;
							text-align: center
					
}	


.pretitle			{
	
			display: none	
	
}	



.instructions		{

		padding:7 50 7 50; 
		border:2px solid #695700;;
		background-color: #f1e7dd;
		
		color:#695700;
		font-family: serif;
		font-size:14px

}

.javaLink	{

		text-decoration: underline;
		color: blue

}

.javaLink:hover	{

		color: red
		
		}




		
.light_tab	{

		border-top: 2px solid #666699;
		border-left: 2px solid #666699;
		border-right: 2px solid #666699;

		padding: 10px;
		
		text-align: center;
		font-weight: bold;
		font-size: 13px
		
}

.heavy_tab	{

		border-top: 5px solid #333399;
		border-left: 5px solid #333399;
		border-right: 5px solid #333399;

		padding: 10px;
		
		text-align:center;
		font-weight: bold;
		font-size: 13px
		
}











/*
 * 	=======================================================================
 * 		
 * 						Features StoryAdmin Styles
 * 
 * 	=======================================================================
 */
.features_bottom_tab	{

		border-top: 2px solid #666699

}





.feature	{
		width: 750px;
		border-bottom: 1px dotted #777777;
		border-right: 1px dotted #777777;
		border-left: 1px solid black;
		
		padding: 15px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		
		clear: both;
		float: none

}









/*
 * 	=======================================================================
 * 		
 * 						SchMOVIES StoryAdmin Styles
 * 
 * 	=======================================================================
 */
.schmovies_form_element	{
	
		width: 500px	
	
}


.schmovies_open_close	{
	
		float: left
	
}

.schmovies_title	{
	
		text-align: right;
		padding-bottom: 15px
	
}

.schmovies_item	{
	
		padding: 10px;
		padding-left: 20px;
		width: 800px;
		border: 2px dotted #bbbbbb;
		margin: 4px
	
}

.schmovies_item_red	{
	
		padding: 10px;
		padding-left: 20px;
		width: 800px;
		border: 2px dotted red;
		margin: 4px
	
}

.schmovies_name		{
	
		font-size: 14px;
		font-weight: bold
	
}

.schmovies_headline	{
	
		font-size: 12px;
		float: left;
		padding-right: 30px
	
}

.schmovies_date		{
	
		font-size: 12px;
		color: #666666
	
}

.schmovies_edit_delete		{
	
		text-align: right
	
}

.schmovies_category	{
	
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px dotted #bbbbbb;
		width: 25%;
		margin-right: 75%;
		padding-left: 50px;
		padding-bottom: 25px
	
}

.schmovies_full_item_container	{
	
		padding: 10px;
		border: 2px solid #666666;
		width: 730px;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px
	
}

.schmovies_category_edit_table	{
	
		text-align: center
	
}

.schmovies_category_edit_table td	{
	
		margin: 3px;
		border: 1px solid #bbbbbb;
		padding: 10px
	
}

.schmovies_category_edit_table td:hover	{
	
		background-color: #eeeeee;
		border: 1px solid #999999
	
}

.schmovies_category_edit_table th	{
	
		margin: 3px;
		border: 2px solid #bbbbbb;
		background-color: #f6f6f6;
		padding: 10px;
		font-size: 14px
	
}

.schmovies_category_edit_table th:hover	{
	
		background-color: #bbbbbb;
		border: 2px solid #999999
	
}

.schmovies_category_text_edit	{
	
		width: 500px
	
}

.schmovies_category_edit_form	{
	
		padding-top: 50px
	
}