@CHARSET "ISO-8859-1";

.COMMENTS_navbar_unselected
{
	
	padding: 15px;
	margin: 10px;
	
	border: 1px solid #999999;
	background-color: #f8f8f8;
	
	font-size: 12pt;
	font-weight: bold
	
}

.COMMENTS_navbar_selected
{
	
	padding: 15px;
	margin: 10px;
	
	border: 2px solid #666666;
	background-color: #fafafa;
	
	font-size: 14pt;
	font-weight: bold
	
}


.COMMENTS_list_header	
{

	font-size: 12pt;
	font-weight: bold;
	
	padding: 10px;
	text-align: center;
	border: 2px solid #666666
	
}

.COMMENTS_list_cell
{
	
	padding: 5px;
	border: 1px solid #999999;
	
}

.COMMENTS_list_cell_spam
{
	
	padding: 5px;
	border: 2px solid #red;
	
}

.COMMENTS_list_table
{
	
	width: 90%
	
}

.COMMENTS_list_submit_buttons
{
	
	padding: 25px;
	text-align: center
	
}

.COMMENTS_search_box
{

	width: 90%;
	margin-left: 10%;
	padding-bottom: 10px
	
}