@CHARSET "UTF-8";


body, p, div, table, tr, th, td, form, input, html, span
{
	font-family: "Arial", san-serif;
	font-size: 9pt
}



/*
div
	{ border: 1px solid #aa0000 }

div:hover
	{ border: 1px solid #ff0000 }
*/




/*
 * 	For Testing and Debugging
div, td, img
{
	border: 1px solid red
}
*/


/*
 * 	====================================================================
 * 		
 * 							Generic Styles
 * 
 * 	===================================================================
 */



/*
 * 	Notices and Error Messages
 */
.error_message
{
	color: red;
	font-family: "Courier", monospace
}

.big_error_message
{
	color: red;
	font-family: "Courier", monospace;
	font-size: 15pt
}

.notice_message
{
	color: blue;
	font-family: "Times", serif;
	font-weight: bold
}

.big_notice_message
{
	color: blue;
	font-family: "Times", serif;
	font-size: 15pt;
	font-weight: bold
}

.explanatory_text
{
	
	color: #888888;
	font-size: 8pt;
	
	text-align: center
	
}


.explanatory_text_large
{
	
	color: #555555;
	font-size: 15pt;
	font-weight: bold;
	
	text-align: center
	
}





.explanation_text_whole_page
{
	
	padding: 40px;
	margin: 70px;
	margin-top: 30px;
	border: 2px solid #666699;
	background-color: #f3f3ff;
	text-align: center
	
}

.big_link
{
	
	font-size: 13pt;
	font-weight: bold
	
}









/*
 * 	Forms
 */

input, select, textarea
{
	border: 2px solid #6666aa;
	padding: 4px		
		
}

input:hover
{
	
	border: 2px solid #6666ff;
	
}

textarea:hover
{
	
	border: 2px solid #6666ff;
	
}

select:hover
{
	
	border: 2px solid #6666ff;
	
}






/*
 * 	Header Styles
 */
.header_login_status
{
	margin: 20px;
	padding: 10px;
	text-align: right;
	
	margin-left: 50%;
	
	border: 2px solid #ffffff;
	border-bottom: 2px solid #aaaaaa;
	border-left: 2px solid #aaaaaa;
		
}

.header_login_status:hover
{
		
	border: 2px solid #888888;
	
	
	background-color: #eeeeee
		
}


.header_warning
{
	
	font-weight: bold;
	text-align: center;
	
	padding: 10px;
	margin: 5px;
	background-color: #ff0000;
	
	font-size:14pt;
	color: white
	
}

.header_notice
{
	
	font-weight: bold;
	text-align: center;
	
	padding: 10px;
	margin: 5px;
	background-color: #6666ff;
	
	font-size:14pt;
	color: white
	
}




/*
 *	Footer Styles
 */
.footer_container
{
	padding: 10px;
	margin: 150px 20% 10px 20%;
	text-align: center;
	
	color: #aaaaaa;
	
	border-top: 2px dashed #aaaaaa
}






/*
 * 	NavBar Styles
 */
.navbar_container
{
	border-bottom: 2px solid black;
	width: 60%;
	margin: auto
}

.navbar_entry
{
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	
	font-size: 9pt;
	font-weight: bold;
	
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 0px 10px;
	
	
}

.navbar_entry:hover
{
	border-left: 2px solid #aaaaaa;
	border-right: 2px solid #aaaaaa;
	border-top: 2px solid #aaaaaa;
	
	background-color: #fafafa;
	
	font-weight: bold;
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 0px 10px;
	
	
}

.navbar_entry_selected
{
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	
	background-color: #eeeeee;
	
	font-size: 12pt;
	font-weight: bold;
	
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 0px 10px;
	
	
}

.navbar_entry_selected:hover
{
	background-color: #dddddd;
}






/*
 * 	General Section Styles
 */
.section_container
{
	margin: 30px;
	margin-top: 25px
}

.section_title
{
	font-weight: bold;
	font-size: 19pt;
	text-align: center;
	
	width: 25%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px dashed #aaaaaa;
	
	padding-top: 20px;
	margin-top: 0px;
	border-top: 1px dashed #aaaaaa;
	
	float: left
}

.section_subtitle
{
	
	width: 25%;
	
	padding-top: 20px;
	padding-bottom: 20px;
	
	font-weight: bold;
	font-size: 13pt;
	
	clear:both;
	float: left
}






/*
 * 	Table Forms
 */
.table_form_left
{
	
	border: 1px dashed #999999;
	text-align: right;
	font-weight: bold;
	width: 25%;
	padding: 15px
	
}

.table_form_right
{
	
	border: 1px dashed #999999;
	text-align: left;
	padding: 15px
	
}

