@CHARSET "ISO-8859-1";


.homepage_form_container
{
	
	padding: 10px;
	margin: 10px;
	
	border: 2px dashed #bbbbbb
	
}
.homepage_form_container:hover
{
	
	border: 2px solid #bbbbbb
	
}



.homepage_form_title
{
	
	font-size: 16pt;
	font-weight: bold;
	color: #666666
	
}



.homepage_form_item_container
{
	
	padding: 10px;
	margin: 10px;
	
	border: 1px dashed #dddddd
	
}
.homepage_form_item_container:hover
{
	
	padding: 10px;
	margin: 10px;
	
	border: 1px dashed #888888;
	background-color: #eeeeee
	
}



.homepage_show_hide_link
{
	
	font-weight: bold;
	padding: 5px;
	border: 1px solid white
	
}
.homepage_show_hide_link:hover
{
	
	background-color: #dddddd;
	border: 1px solid #bbbbbb
	
}


.homepage_instructions
{
	
	text-align: right;
	color: #666666;
	
	padding: 30px 20px 20px 0px;
	font-weight: bold;
	font-size: 12pt
	
}
	
	
.HOMEPAGE_JQ
{
	
	display: none

}


