@CHARSET "ISO-8859-1";


.instruction_text_whole_page
{
	
	clear: both;
	
	background-color: #eeeefa;
	border: 2px solid #aaaadd;
	
	padding: 25px;
	margin: 0px 20% 0 20%
	
	
}

.instruction_text_whole_page:hover
{

	border: 2px solid #888888
	
}



.instruction_text_whole_page_title
{
	
	font-size: 17px;
	font-weight: bold;
	
	text-align: center;
	
	padding: 20px;
	margin: 20px;
	
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa
	
}

.instruction_text_whole_page_title_help_warning
{
	font-size: 8pt;
	text-align: right;
	font-weight: normal;
	color: #666666;
	padding-top: 15px
	
	
}








.instructions_title
{
	
	font-size: 13pt;
	font-weight: bold;
	
	text-decoration: underline
	
}