@CHARSET "ISO-8859-1";


.story_preview_container
{
	clear: both;
	
	width: 80%;
	padding: 20px;
	margin: auto;
	
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	
	font-family:"Times New Roman",Georgia,Serif
	
}

.story_preview_container:hover
{
	border-left: 1px solid #999999;
	border-right: 1px solid #999999
}

.story_preview_headline
{
	
	font-weight: bold;
	font-size: 18pt;
	
	font-family:"Times New Roman",Georgia,Serif
	
}

.story_preview_info_line
{
	
	font-size: 9pt;
	color: #999999;
	
	text-align: right;
	
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	
	font-family:"Times New Roman",Georgia,Serif
	
}

.story_preview_content
{
	
	font-family:"Times New Roman",Georgia,Serif
}








.story_preview_left_container
{
	
	margin: 10px;
	padding: 10px;
	
	border: 1px solid #dddddd
	
}
.story_preview_left_container:hover
{
	
	border: 1px solid #bbbbbb;
	background-color: #eeeeee
	
}

.story_preview_left_headline
{
	
	font-weight: bold;
	font-size: 16pt;
	text-align: center
}

.story_preview_left_summary
{
	
	font-weight: normal;
	text-align: center
	
}