@CHARSET "ISO-8859-1";



/*
 * 	Publish Button
 */
.issues_publish_issue_button
{
	
	clear:both;
	
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
	
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	
	font-size: 15pt
	
}

.issues_publish_issue_button:hover
{
	border: 1px solid #888888;
	background-color: #eeeeee
}

.issues_publish_issue_button_text
{
	font-size: 14pt;
	font-weight: bold
}





/*
 * Edit Issue page
 */
.issues_edit_issue_rename_link
{
	font-size: 7pt;
	font-weight: normal
}



.issues_edit__issue_dateline
{
	color: #888888;
	font-size: 8pt;
	font-weight: normal;
	
}






/*
 * 	Rename Issue
 */
.issues_rename_issue_form_container
{
	clear: both;
	width: 75%;
	margin: auto;

	padding: 25px;
	padding-left: 75px;
	padding-right: 75px;
	
	text-align: center;
	
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa
		
}

.issues_rename_issue_form_container:hover
{

	border: 1px solid #888888

}

.issues_rename_issue_cancel_button
{
	text-align: right;
	padding-top: 25px	
}






.issues_list_issues_header
{
	
	padding: 10px;
	margin: 5px;
	
	font-size: 13pt;
	font-weight: bold;

	border: 2px dashed #bbbbbb
	
}

.issues_list_issues_cell
{
	
	padding: 10px;
	margin: 5px;
	
	border: 1px dashed #dddddd
}



.issues_pdf_form
{
	
	font-size: 12pt;
	text-align: center;
	padding: 25px;
	border-top: 1px solid #999999;
	width: 50%;
	margin: auto;
	margin-top: 25px
	
}