@CHARSET "ISO-8859-1";


.keyword_table_container
{
	width: 75%;
	margin: auto;
	
	text-align: center
	
}

	
.keyword_table_header
{

	background-color: #dddddd;
	border: 1px solid #bbbbbb;
	
	font-weight: bold;
	font-size: 12pt;
	text-align: center;
	color: #444444;
	
	padding: 10px
	
}
	
.keyword_table_value
{
	
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	color: #666666;
	
	padding: 10px
	
	
}




.keyword_change_form_container
{
	width: 75%;
	margin: auto;
	
	text-align: right;
	padding: 20px;
	margin-top: 30px;
	
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb
	
	
}