@CHARSET "ISO-8859-1";

.password_reset_title
{
	padding: 30px;
	
	width:75%;
	margin: auto;
	border-top: 2px dashed #bbbbbb;
	border-bottom: 2px dashed #bbbbbb;
	
	font-size: 15pt;
	font-weight: bold
	;
	
	text-align: center
	
}





.password_reset_subtitle
{
	text-align: center
}





.password_reset_form
{
	text-align: center;
	
	padding: 30px

}





.password_reset_account_info
{
	font-size: 12pt;
	font-weight: bold
}