@CHARSET "ISO-8859-1";

.revision_info
{
	
	color: #666666;
	font-weight: bold;
	text-align:center;
	font-size: 12pt;
	
	width: 75%;
	margin: auto;
	padding: 15px;
	border-bottom: 1px solid #bbbbbb
	
}


.revision_summary_container
{
	
	padding: 20px;
	margin: 10px;
	
	border: 2px dashed #dddddd
	
}
.revision_summary_container:hover
{
	border: 2px dashed #aaaaaa		
}

.revision_summary_info_line
{
	
	text-align: right;
	font-weight: bold;
	font-size: 8pt;
	color: #888888;
	
	padding: 15px;
	margin-bottom: 10px;
	
	width: 50%;
	margin-left: 40%;
	border-bottom: 1px solid #dddddd
	
}

.revision_summary_content
{
	color: #888888
}
.revision_summary_content:hover
{
	color: black
}


.revision_summary_revert_link
{
	
	text-align: right;
	font-size: 8pt;
	color: #888888;
	
	padding: 15px;
	margin-top: 10px;
	
	width: 50%;
	margin-left: 40%;
	border-top: 1px solid #dddddd
	
}



.revision_summary_internal_comment
{
	
	padding: 15px;
	margin: 15px 0px 15px 0px;
	
	border: 1px dashed #bbbbbb;
	
	color: #888888;
	font-size: 8pt
	
}

.revision_summary_internal_comment_title
{
	font-weight: bold;
	font-size: 11pt;
	
	padding-bottom: 10px
}


.revision_summary_external_comment
{
	
	padding: 15px;
	margin: 15px 0px 15px 0px;
	
	border: 1px dashed #bbbbbb;
	
	color: #888888;
	font-size: 8pt
	
}

.revision_summary_external_comment_title
{
	font-weight: bold;
	font-size: 11pt;
	
	padding-bottom: 10px
}






