@CHARSET "ISO-8859-1";

/*
 * 	Settings Styles
 */
.settings_navbar_container
{
	width: 50%;
	padding: 20px;
	margin: auto;
	margin-top: 20px;
	
	text-align: center;
	
	border-top: 1px dashed #aaaaaa;
	border-bottom: 2px dashed #aaaaaa
	
	
	
}

.settings_navbar_entry
{
	border: 1px solid black;
	
	font-size: 9pt;
	
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	
	
}

.settings_navbar_entry:hover
{
	border: 2px solid black;
	
	background-color: #fafafa;
	
	font-weight: bold;
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	
	
}

.settings_navbar_entry_selected
{
	border: 2px solid black;
	
	background-color: #eeeeee;
	
	font-weight: bold;
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	
	
}

.settings_user_table
{
	
	margin: 25px;
	clear: both
	
}

.settings_user_table_header
{
	margin: 4px;
	padding: 10px;
	border: 2px solid #444444;
	
	font-weight: bold;
	font-size: 12pt
}

.settings_user_table_cell
{
	margin: 4px;
	padding: 10px;
	border: 1px solid #666666
}

.settings_user_table_cell_no_border
{
	margin: 4px;
	padding: 10px
}



.settings_user_add_notice
{
	padding: 50px;
	
	width: 75%;
	margin: auto;
	text-align: center;
	
	margin-top: 30px;
	
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd
	
}



.settings_user_delete_user_container
{
		padding: 50px;
	
	width: 75%;
	margin: auto;
	text-align: center;
	
	margin-top: 30px;
	
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd
}

.settings_user_delete_user_title
{
	font-size: 14pt;
	font-weight: bold
	
	
}