@CHARSET "ISO-8859-1";



.stories_list_container
{
	padding: 10px;
	margin: 8px;
	margin-top: 25px;
	
	border: 1px solid #cccccc;
	background-color: #fafafa;
	
	clear: both
	
}

.stories_list_container:hover
{
	border: 1px solid #aaaaaa;
	background-color: #f1f1f1
}

.stories_list_headline
{
	
	font-size: 14pt;
	font-weight: bold;
	padding-bottom:4px;
	margin-bottom: 4px;
	
	width: 75%;
	
	border-bottom: 1px solid #eeeeee
	
}

.stories_list_summary
{
	width: 75%;
	margin: auto;
	
	color: #666666;
	
	padding-bottom: 4px;
	margin-bottom:4px;
	
	border-bottom: 1px solid #eeeeee
}





.stories_list_edit_story_link
{

	font-size: 7pt;
	padding-left: 25px
	
}

.stories_list_vote_link
{

	font-size: 7pt;
	padding-left: 25px;
	margin-left: 25px;
	border-left: 1px solid #888888
	
}

.stories_list_checked_out
{
	font-size: 8pt;
	padding: 25px;
	color: red
}

	
.stories_list_info_line
{
	
	font-size: 7pt;
	color: #aaaaaa
	
}










/*
 * 	BEGIN EDIT
 */
.begin_edit_prompt
{
	clear:both;
	
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	
	padding: 20px;

	width: 50%;
	margin: auto;
	
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb
}

.begin_edit_prompt_form
{
	
	padding: 30px
	
}




.stories_list_options_bar_container
{
	float: left;
	margin: 5px
	
}
