@CHARSET "ISO-8859-1";






/*
 * 	Edit Issue
 */
.stories_edit_issue_button
{
	
	margin-left: 20%;
	
	text-align: center;
	padding: 10px;
	margin: 10px;
	
	border: 2px solid #ffffff;
	border-top: 2px solid #aaaaaa;
	border-bottom: 2px solid #aaaaaa
	
}

.stories_edit_issue_button:hover
{
	
	border: 2px solid #888888;
	
	background-color: #eeeeee
	
}



.stories_edit_issue_current_issue
{	

	font-weight: bold;
	font-size: 12pt;
	
	color: #666666
	
}










/*
 * 	Add New Story
 */
.stories_add_new_story
{
	
	margin-right: 20%;
	
	font-weight: bold;
	font-size: 15pt;
	
	text-align: center;
	padding: 10px;
	margin: 10px;
	
	border: 2px solid #ffffff;
	border-top: 2px solid #aaaaaa;
	border-bottom: 2px solid #aaaaaa
		
}

.stories_add_new_story:hover
{
	
	border: 2px solid #888888;
	
	background-color: #eeeeee
	
}

.stories_add_new_story_instruction
{
	clear: both;
	width: 75%;
	margin: auto;

	padding: 25px;
	padding-left: 75px;
	padding-right: 75px;
	
	text-align: center;
	
	border-top: 2px dashed #aaaaaa;
	border-bottom: 2px dashed #aaaaaa
}

.stories_add_new_story_instruction:hover
{
	border: 2px dashed #888888
}

.stories_add_new_story_title
{
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
	padding-top: 25px;
	width: 20%;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 5px
}

.stories_add_new_story_value
{
	font-size: 15pt;
	font-weight: ;
	text-align: left;
	padding-left: 25px
}

.stories_add_new_story_continue_form
{
	padding-right: 25px;
	padding-top: 25px;
	padding-left: 20%;
	margin-top: 25px;

	width: 50%;
	
	border-top: 1px dashed #aaaaaa;
	
	text-align: right
	
}










/*
 * 	Checkout Errors
 */
.stories_checkout_error_logout_notice
{
	clear: both;
	width: 75%;
	margin: auto;

	padding: 25px;
	padding-left: 75px;
	padding-right: 75px;
	margin-top: 30px;
	
	text-align: center;
	
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	
	font-size: 15pt;
	font-weight: bold;
	color: #888888
	
}
	
.stories_checkout_error_logout_notice:hover
{
	border: 1px solid #888888
}










/*
 * 	Checkout Notice Box
 */
.checkout_notice_box
{
	border: 1px dashed #888888; 
	padding: 10px; 
	width: 50%; 
	margin-left: 50%;
	margin-top: 10px
}

.checkin_button
{
	text-align: right; 
	padding-top: 7px;

	border-top: 1px dashed #dddddd;
	margin-left: 25%;
	margin-top: 10px
}

.checkin_notice
{
	font-size: 8pt;
	color: #555555		
}

.checkin_confirm
{
	
	clear: both;
	padding: 50px;
	
	text-align: center;
	
	width:50%;
	margin: auto;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb
	
}





/*
 * 	Edit Story Form
 */


.stories_edit_story_nav_bar
{
	clear: both;
	width: 80%;
	margin: auto;
	
	padding: 13px;
	margin-top: 10px;
	margin-bottom: 15px;
	
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	
	text-align: center
	
}

.stories_edit_story_nav_bar_entry
{
	padding: 5px;
	
	font-weight: bold;

	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	border-left: 2px solid white;
	border-right: 2px solid white
}

.stories_edit_story_nav_bar_entry:hover
{
	border: 2px solid #bbbbbb
	
}

.stories_edit_story_nav_bar_entry_selected
{
	padding: 5px;
	
	font-weight: bold;

	border: 2px solid #888888;
	background-color: #f2f2f2
}





/*
 * 	Summary Form
 */
.stories_edit_story_form_summary
{
	clear:both;
	width:90%;
	margin: auto;
	
	padding: 25px;
	
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	background-color: #fafafa
	
}


.stories_edit_story_summary_title
{
	font-weight: bold;
	font-size: 14pt;
	color: #444444;
	
	width: 25%;

	padding-bottom: 10px;
	margin-bottom: 15px;
	
	border-bottom: 1px solid #aaaaaa;
}



.stories_edit_story_summary_label
{
	width: 25%;
	
	font-weight: bold;
	font-size: 12pt;
	color: #888888;
	
	text-align: right;
	
	padding-right: 15px
}

.stories_edit_story_summary_label_info
{
	font-weight: normal;
	font-size: 8pt
}

.stories_edit_story_summary_label_required
{
	color: blue;
	font-style:italic;
	font-size: 8pt
		
}

.stories_edit_story_summary_label_optional
{
	color: #aaaaaa;
	font-style:italic;
	font-size: 8pt
		
}

.stories_edit_story_summary_value
{
	width: 75%;
	padding: 15px;
	
	text-align: center;
	
	border: 2px dashed #888888;
	background-color: white
	
}

.stories_edit_story_summary_form_entry
{
	width: 80%
}






/*
 * Revision Form
 */
.stories_edit_story_revision_textarea
{	
	width: 90%;
	height: 500px
}




/*
 * 	Layout Form
 */
.stories_edit_story_layout_label
{
	width: 50%;
	
	font-weight: bold;
	font-size: 12pt;
	color: #888888;
	
	text-align: right;
	
	padding-right: 15px
}

.stories_edit_story_layout_label_info
{
	font-weight: normal;
	font-size: 8pt
}

.stories_edit_story_layout_value
{
	width: 50%;
	padding: 15px;
	
	text-align: center;
	
	border: 2px dashed #888888;
	background-color: white
	
}



/*
 * 	Comments Form
 */
.stories_edit_story_comments_textarea
{	
	width: 90%;
	height: 150px
}








.stories_edit_keywords_table
{
	
	padding:25px
	
}

.stories_edit_keyword_title
{
	font-weight: bold;
	font-size: 12pt;
	color: #888888;
	
	padding-top: 25px;
	padding-bottom: 10px;
	
	text-align: center
}

.stories_edit_keywords_cell
{
	padding: 15px;

	border: 2px dashed #888888
}







.stories_preview_edit_bar_container
{
	
	text-align: center
	
}

.stories_preview_edit_bar
{
		
	font-weight: bold;
	padding: 10px;
	border: 1px solid #dddddd
	
}

.stories_preview_edit_bar:hover
{
	
	background-color: #dddddd;
	border: 1px solid #bbbbbb
	
}

.stories_preview_preview_container
{
	clear: both
}



