@CHARSET "ISO-8859-1";


.voting_container
{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px
}


.voting_title
{
	
	font-size: 14pt;
	font-weight: bold;
	text-align: center
	
}


.voting_story_summary
{
	width: 75%;
	margin: auto
	
}

.voting_revision_summary
{
	width: 75%;
	margin: auto;
	
	text-align: left
}



.voting_instructions
{
	
	color: #666666;
	text-align: center	
}


.voting_form
{
	
	width: 75%;
	margin: auto;
	margin-top: 40px;
	
	padding: 30px;
}


.voting_edit_story_link
{
	
	width: 75%;
	margin: auto;
	padding: 25px;
	
	text-align: right;
	font-weight: bold;
	
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd
	
}


.voting_unvote_form
{
	text-align: center;
	padding: 30px
}
