@CHARSET "ISO-8859-1";



.HOMEPAGE_left_column_container
{

	width: 500px;
	float: left;
	
	border-right: 1px solid #999999;
	margin-right: 10px;
	
	clear: both

}


.HOMEPAGE_middle_column_container
{

	width: 250px;
	float: left;
	
	border-right: 1px solid #999999;
	padding-right: 10px;
	margin-right: 10px

}


.HOMEPAGE_right_column_container
{

	width: 264px;
	float: left;
	
	
}





