


/*
 * 	CRAP ARREST
 */
.HOMEPAGE_crap_arrest_container
{
	
	border: 2px solid #000000;
	background-color: black;
	
	margin: 5px 0px 5px 0px
		
}

.HOMEPAGE_crap_arrest_title
{
	
	background-color: black;
	color: white;
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 12pt;
	font-variant: small-caps;
	
	text-align: center;
	
	padding: 5px
	
}

.HOMEPAGE_crap_arrest_content
{
	
	font-size: 8pt;
	text-align: left;
	background-color: #ffffff;
	
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 5px;
	padding-top: 10px
	
}

.HOMEPAGE_crap_arrest_content p
{
	
	padding: 3px 0px 3px 0px
	
}

.HOMEPAGE_crap_arrest_link
{
	
	background-color: #ffffff;
	
	padding: 5px;
	text-align: right;
	
	font-size: 8pt
	
}











/*
 * 	AND FINALLY
 */
.HOMEPAGE_and_finally_container
{
	
	padding: 5px;
	padding-top: 15px;
	border-top: 1px solid #999999;
	
	margin: 15px 0px 5px 0px
	
}
.HOMEPAGE_and_finally_container:hover
{


}



.HOMEPAGE_and_finally_title
{
	
	font-size: 12pt;
	font-weight: bold;
	text-decoration: italics;
	
	text-align: right
	
}

.HOMEPAGE_and_finally_content
{
	
	font-size: 9pt;
	text-align: left
	
}

.HOMEPAGE_and_finally_link
{
	
	font-size: 8pt;
	text-align: right;
	padding-top: 5px;
	margin-top: 5px;
	width: 75%;
	margin-left: 25%;
	border-top: 1px solid #bbbbbb
	
}










/*
 * 	DISCLAIMER
 */
.HOMEPAGE_disclaimer
{
	
	padding: 5px;
	padding-top: 15px;
	border-top: 1px solid #999999;
	
	font-family:"Times New Roman",Georgia,Serif;
	font-weight: bold;
	
	margin: 15px 0px 5px 0px
	
}








/*
 * 	SCHNEWS IN BRIEF
 */
.HOMEPAGE_sib_container
{
	
	padding-top: 10px;
	margin-top: 10px;
	
	border-top: 1px solid #999999
	
}

.HOMEPAGE_sib_title
{
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 16pt;
	font-variant: small-caps;
	
	padding-bottom: 5px
	
}

.HOMEPAGE_sib_twitter_link
{
	
	text-align: right;
	font-size: 8pt
	
}
