.HOMEPAGE_pap_item
{
	
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 5px;

	margin: 5px 0px 5px 0px;
	
	font-size: 9pt
		
}
.HOMEPAGE_pap_item:hover
{

	border: 1px solid #666666;
	background-color: #fcfcfc

}

.HOMEPAGE_pap_date
{

	text-align: right;
	
	font-size: 7pt;
	color: #666666;

}

.HOMEPAGE_pap_name
{

	font-size: 11pt;
	font-family: 'Arial';
	font-weight: 700;
	font-variant: small-caps
	
}

.HOMEPAGE_pap_month
{

	font-weight: bold;
	font-size: 10pt;
	font-family: 'Arial';
	font-variant: small-caps;
	text-align: right;
	text-decoration: underline;
	
	padding-top: 2px

}

.HOMEPAGE_pap_internal_links
{
	
	padding-top: 8px;
	text-align: center;
	font-size: 7pt
	
}

.HOMEPAGE_pap_summary
{
	
	font-size: 8pt;
	word-wrap: break-word
	
}

.HOMEPAGE_pap_summary p br
{
padding-top: 2px;
padding-bottom: 2px
}


