.HOMEPAGE_schmovies_container
{
	
	
	border-top: 1px solid #999999;
	padding-top: 5px;
	margin-top: 10px
	
}


.HOMEPAGE_schmovies_item
{
	
	padding: 5px;
	border: 1px solid #999999;
	border-radius: 5px;
	
	margin: 5px 0px 5px 0px;
	
	font-size: 8pt
		
}
.HOMEPAGE_schmovies_item:hover
{

	border: 1px solid #666666;
	background-color: #fcfcfc

}



.HOMEPAGE_schmovies_title
{

	font-size: 10pt;
	font-family: 'Arial';
	font-weight: 700;
	font-variant: small-caps;
	
}

.HOMEPAGE_schmovies_internal_links
{
	
	text-align: center;
	font-size: 7pt
	
}
