@CHARSET "ISO-8859-1";
.HOMEPAGE_story_list_container
{
	
	padding: 0px 10px 0px 10px;
		
}

.HOMEPAGE_story_read_full
{

	font-size: 8pt;
	
}








/*
 * 	INTERIOR PROPERTIES - NORMAL
 */
.HOMEPAGE_story_container
{
	
	border: 2px solid #bbbbbb;
/*	border-radius: 5px;		*/
	
	margin: 5px 0px 5px 0px;
	overflow: auto;
		
}
.HOMEPAGE_story_container:hover
{
	border: 2px solid #888888;
	background-color: #fcfcfc;
	overflow: auto;
}
.HOMEPAGE_story_headline
{
	margin: 5px;
	margin-top: 0px;
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 16pt;
	text-transform: uppercase;
/*	font-variant: small-caps;		*/
	
	border-bottom: 1px dotted #bbbbbb;
	padding-bottom: 3px;
	margin-bottom: 3px
}
.HOMEPAGE_story_headline_link
{
	color: black
}
.HOMEPAGE_story_headline_link:hover
{
	color: #f60
}
.HOMEPAGE_story_subheadline
{
	
	margin: 5px;

	font-weight: bold;
	font-size: 12pt;
	font-variant: small-caps;	
	text-align: left;
	line-height: 1.3;
	font-style: italic;

	border-bottom: 1px dotted #bbbbbb;
	padding-bottom: 3px;
	margin-bottom: 3px

}
.HOMEPAGE_story_summary
{
	margin: 5px
}
.HOMEPAGE_story_date
{
	padding:5px;
	padding-bottom: 0px;
	padding-right: 15px;
	text-align: right;
	
	font-size: 7pt;
	color: #666666;
}
.HOMEPAGE_story_keywords
{
	
	font-size: 8pt;
	text-align: right;
	padding: 5px 5px 5px 0px;
	width: 75%;
	margin-right: 5px;
	margin-left: auto;
	border-top: 1px dotted #bbbbbb
	
}
.HOMEPAGE_story_graphic
{
	float: right;
	margin: 10px;
	border: 1px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}



















/*
 * 	PRIME STORY - The first story in the list.
 */
.HOMEPAGE_story_container_PRIME
{
	
	border: 3px solid #666666;
/*	border-radius: 5px;			*/
/*	line-height: 1.5;			*/
	margin: 5px 0px 5px 0px;
		
}
.HOMEPAGE_story_container_PRIME:hover
{

	border: 3px solid #333333;
	background-color: #fafafa

}
.HOMEPAGE_story_headline_PRIME
{
	margin: 5px;
	margin-top: 0px;
	
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 19pt;
	font-variant: small-caps;	
	
	border-bottom: 2px dotted #999999;
	padding-bottom: 3px;
	margin-bottom: 3px
}

.HOMEPAGE_story_subheadline_PRIME
{

	margin: 5px;

	font-weight: bold;
	font-size: 13pt;
	font-variant: small-caps;
	line-height: 1.3;

	text-align: left;
	font-style: italic;

	border-bottom: 1px dotted #bbbbbb;
	padding-bottom: 3px;
	margin-bottom: 3px

}
.HOMEPAGE_story_summary_PRIME 
{
	margin: 5px;
	font-size: 11pt;
	line-height: 1.5;
}
.HOMEPAGE_story_date_PRIME
{
	padding:5px;
	padding-bottom: 0px;
	text-align: right;
	
	font-size: 7pt;
	color: #666666;
}
.HOMEPAGE_story_keywords_PRIME
{
	
	font-size: 8pt;
	text-align: right;
	padding: 5px 5px 5px 0px;
	width: 75%;
	margin-right: 5px;
	margin-left: auto;
	border-top: 1px dotted #bbbbbb
	
}







/*
 * 	LARGE STORY 
 */
.HOMEPAGE_story_container_BIG
{
	
	border: 2px solid #666666;
/*	border-radius: 5px;		*/
	
	margin: 5px 0px 5px 0px;
	overflow: auto;
		
}
.HOMEPAGE_story_container_BIG:hover
{

	border: 2px solid #333333;
	background-color: #fafafa;
	overflow: auto;

}
.HOMEPAGE_story_headline_BIG
{
	margin: 5px;
	margin-top: 0px;
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 17pt;
	text-transform: uppercase;
	/*font-variant: small-caps;*/ 	
	
	border-bottom: 1px dotted #bbbbbb;
	padding-bottom: 3px;
	margin-bottom: 3px
}
.HOMEPAGE_story_subheadline_BIG
{

	margin: 5px;

	font-weight: bold;
	font-size: 12pt;
	font-variant: small-caps;	
	text-align: left;
	line-height: 1.3;
	font-style: italic;

	border-bottom: 1px dotted #bbbbbb;
	padding-bottom: 3px;
	margin-bottom: 3px

}
.HOMEPAGE_story_summary_BIG
{
	margin: 5px
}
.HOMEPAGE_story_date_BIG
{
	padding:5px;
	padding-bottom: 0px;
	text-align: right;
	
	font-size: 7pt;
	color: #666666;
}
.HOMEPAGE_story_keywords_BIG
{
	
	font-size: 8pt;
	text-align: right;
	padding: 5px 5px 5px 0px;
	width: 75%;
	margin-right: 5px;
	margin-left: auto;
	border-top: 1px dotted #bbbbbb
	
}













/*
 *  SMALL STORY 
 */
.HOMEPAGE_story_container_SMALL
{
	
	border-top: 1px dotted #bbbbbb;
	border-bottom: 1px dotted #bbbbbb;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 5px 0px 5px 0px;
	overflow: auto;
		
}
.HOMEPAGE_story_container_SMALL:hover
{

	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color: #fafafa;
	overflow: auto;

}
.HOMEPAGE_story_headline_SMALL
{
	margin: 5px;
	margin-top: 0px;
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 13pt;
	/*font-variant: small-caps;*/
	text-transform: uppercase;	
	
	border-bottom: 1px dotted #bbbbbb;
	padding-bottom: 3px;
	margin-bottom: 3px
}
.HOMEPAGE_story_subheadline_SMALL
{

	margin: 5px;

	font-weight: bold;
	font-size: 11pt;
	font-variant: small-caps;	
	text-align: left;
	font-style: italic;

	border-bottom: 1px dotted #bbbbbb;
	padding-bottom: 3px;
	margin-bottom: 3px

}
.HOMEPAGE_story_summary_SMALL
{
	margin: 5px;
	font-size: 10pt
}
.HOMEPAGE_story_date_SMALL
{
	padding:5px;
	padding-bottom: 0px;
	text-align: right;
	
	font-size: 7pt;
	color: #666666;
}
.HOMEPAGE_story_keywords_SMALL
{
	
	font-size: 8pt;
	text-align: right;
	padding: 5px 5px 5px 0px;
	width: 75%;
	margin-right: 5px;
	margin-left: auto;
	border-top: 1px dotted #bbbbbb
	
}


.HOMEPAGE_previous_stories
{
	
	padding-top: 10px;
	margin-top: 10px;

	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	
	border-top: 1px dotted #999999;
	text-align: center;
	font-weight: bold
	
}
.HOMEPAGE_previous_stories:hover
{
	
	border-top: 1px solid #999999;
	background-color: #f8f8f8
	
}



.HOMEPAGE_archive
{
	
	padding-top: 10px;
	margin-top: 10px;

	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	
	border-top: 1px dotted #999999;
	text-align: center;
	
	font-size: 8pt
	
}