@CHARSET "ISO-8859-1";

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

body{ padding: 10px }

* { margin: 0px; padding: 0px }

/*
 *	DEFAULT FONT STYLES
  */
body
{
 
	font-family: 'Arial', sans-serif;
	font-size: 11pt
 
}
 
a
{

	color: #ff6600;
	text-decoration: none
	
}
a:hover
{
	
	color: #ff6600;
	text-decoration: underline
	
}

strong
{

	font-weight: bold

}

em
{
	
	font-style: italic
	
}
p
{
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 1.5;



/*
 * 
 * DEBUGGING
 * 
 * 
 */

/*
div	{ border: 1px solid red }
*/

