@CHARSET "ISO-8859-1";



/*
 * 	GENERIC
 */
input
{
	
	padding: 2px
	
}














/*
 * 	PAGE HEADER
 */
.page_header
{
	
	padding-bottom: 15px;
	margin-bottom: 15px;
	
	border-bottom: 2px dotted #999999
	
}














/*
 * 	LOGIN FORM
 */
.login_form_container
{
	
	text-align: center;
	
	padding-top: 25px;
	padding-bottom: 25px;
	
	margin-top: 100px;
	
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999
	
}
.login_form_title
{
	
	font-weight: bold;
	font-size: 14pt;
	font-variant: small-caps
	
}
.login_form_error
{
	
	color: red;
	font-size: 10pt;
	font-variant: small-caps
	
}















/*
 * 	LIST OPTIONS BAR
 */
.list_options_bar_container
{
	
	padding: 15px;
	margin: 5px;
	border: 2px solid #999999;
	border-radius: 15px
	
}
.list_options_bar_container:hover
{
	
	border: 2px solid #666666
	
}




















/*
 * 	EDIT FORM
 */
.edit_container
{
	
	padding: 15px;
	margin: 5px;
	border: 2px solid #999999;
	border-radius: 15px
	
}
.edit_container:hover
{
	
	border-color: #666666
	
}
.edit_title
{
	
	font-weight: bold;
	font-size: 14pt;
	font-variant: small-caps;
	
	padding-bottom: 18px
	
}
.edit_form_cell
{
	
	padding: 18px;
	
	border-top: 1px dashed #999999;
	border-right: 1px dashed #eeeeee
	
}
.edit_form_options_container
{
	
	padding: 15px;
	margin: 5px;
	border: 2px solid #999999;
	border-radius: 15px
	
}
.edit_form_options_container:hover
{
	
	border: 2px solid #666666
	
}
.edit_error
{
	
	color: red;
	font-size: 10pt;
	font-variant: small-caps
	
}
















/*
 * 	DISPLAY ITEM
 */
.display_item_container
{
	
	width: 500px;
	border: 2px solid #999999;
	border-radius: 10px;
	
	padding: 15px;
	margin: 10px
	
}
.display_item_container_no_border
{
	
	width: 500px;
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
	border-radius: 5px;
	
	padding: 15px;
	margin: 10px
	
}
.display_item_title
{
	
	font-weight: bold;
	font-variant: small-caps;
	font-size: 16pt;
	
	text-align: left
	
}
.display_item_summary
{
	
	text-align: left
		
}
.display_item_image_div
{
	
	float: right;
	border: 2px solid #000000
	
}



.display_item_edit_container
{

	width: 500px;
	border: 2px solid #999999;
	border-radius: 10px;
	
	padding: 15px;
	margin: 10px;
	
	
}




.display_item_divider
{

	width: 500px;
	padding: 15px;
	margin: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	
	
	border-bottom: 2px dashed #999999
	
}
.display_date_added
{

	color: #888888;
	font-size: 8pt;
	text-align: right;
	padding: 8px;
	
	width: 50%;
	margin-left: 48%;
	margin-top: 15px;
	margin-right: 2%;
	border-top: 1px dashed #999999

}















/*
 * 	DELETE
 */
.delete_container
{
	
	width: 60%;
	
	margin-left: 20%;
	margin-right: 20%;
	
	text-align: center;
	
}
.delete_title
{
	
	font-weight: bold;
	font-variant: small-caps;
	font-size: 17pt;
	
	margin-bottom: 25px
	
}
.delete_notice_cell
{
	
	padding: 20px;
	border: 1px solid #eeeeee;
	border-radius: 3px
	
}
.delete_notice_cell:hover
{
	
	background-color: #eeeeee;
	border: 1px solid #999999
	
}



















.list_left_container
{
	
	float: left;
	padding-right: 25px
	
}
.list_right_container
{
	
	float: left
}