@CHARSET "ISO-8859-1";


/*
 * 	RE-ASSIGNEMENTS AND OVERRIDES
 */
.GENERAL_page_container
{
	
	border-left: 1px solid #999999;
	border-right: 1px solid #999999
	
}
.DISPLAY_page_footer
{
	
	clear: both;
	font-size: 9pt;
	text-align: center;
	padding-top: 60px	
	
}

p
{

	padding-top: 5px;
	padding-bottom: 5px

}


/*
 * 	DISPLAY ITEM
 */
.display_item_container
{
	
	border: 2px solid #999999;
	border-radius: 10px;
	
	padding: 15px;
	margin: 10px
	
}
.display_item_container_no_border
{
	
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
	border-radius: 5px;
	
	padding: 15px;
	margin: 10px
	
}
.display_item_date_event
{
	
	text-align: right;
	font-size: 9pt;
	font-weight: bold;
	font-variant: small-caps;
	
	color: #888888;
	
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 70%;
	margin-left: 30%;
	border-bottom: 1px solid #999999
	
}
.display_item_title
{
	
	font-weight: bold;
	font-variant: small-caps;
	font-size: 16pt;
	
	text-align: left
	
}
.display_item_summary
{
	
	text-align: left;
	font-size: 11pt
		
}
.display_item_image_div
{
	
	float: right;
	border: 2px solid #000000
	
}
.display_date_added
{

	color: #888888;
	font-size: 8pt;
	text-align: right;
	padding: 8px;
	
	width: 50%;
	margin-left: 48%;
	margin-top: 15px;
	margin-right: 2%;
	border-top: 1px dashed #999999

}







.list_left_items
{
	
	width: 620px;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
		
	border-right: 1px solid #999999
	
}
.list_right_items
{
	
	width: 410px;
	float: left;
	
}