BODY, TD, P {

	font-size: small;

	font-face: serif; }



.page-number { color: green; }

.title-line { text-align: center; }

.participant { font-weight: bold; }



H1 {	font-size: large;

	font-face: serif;

	font-variant: small-caps;

	text-align: center; }



H2 {	font-size: small;

	font-face: serif;

	font-weight: bold; }



A {	color: #FF6600; }



