@CHARSET "ISO-8859-1";


.MERCH_distro_list_container
{
	
	float: left;
	width: 280px;
	padding: 8px;
	padding-right: 0px
	
}

.PAGES_merch_distro_list_title
{
	
	font-size: 13pt;
	font-weight: bold;
	font-variat: small-caps;
	text-align: center;
	padding-bottom: 15px
	
}

.PAGES_merch_distro_list_heading
{
	
	text-align: right;
	font-weight: bold
	
}


.PAGES_merch_distro_list_entry
{
	
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	border: 1px solid #999999;
	border-radius: 5px;
	margin-left: 15px
	
}
.PAGES_merch_distro_list_entry:hover
{
	
	border: 1px solid #666666
	
}


.PAGES_merch_distro_list_name
{
	
	font-weight: bold;
	padding-bottom: 5px
	
}
	
