@CHARSET "ISO-8859-1";

.PAGES_issue_title
{
	
	font-weight: bold;
	font-size: 16pt;
	/*font-variant: small-caps;*/
	padding: 10px;
	width: 75%;
	border-top: 1px dotted #999999 
	
}

.PAGES_issue_title-no-line
{
	
	font-weight: bold;
	font-size: 16pt;
	/*padding: 10px;*/
}


.PAGES_issue_story_headline
{
	
	font-weight: bold;
	font-size: 13pt;
	/*font-variant: small-caps;*/
	
	padding-left: 25px
	
}

.PAGES_issue_story_summary
{

	padding: 5px;
	font-size: 10pt;
	line-height: 1.4;
	padding-left: 50px;
	padding-bottom: 10px
	
}

.PAGES_issue_story_summary-no-indent
{

	padding: 10px;
	font-size: 10pt;
	line-height: 1.4;
	/*padding-left: 50px;*/
	padding-bottom: 25px
	
}

.PAGES_issue_box
{
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	padding-top: 10px;
	overflow:auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
}


.PAGES_image
{
	float:right;
	margin-left:15px;
	margin-bottom:10px;
	display: inline-table;
    border: 1px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);






.PAGES_merch_navabr_container
{
	
	border-bottom: 2px dotted #999999;
	padding: 15px;
	padding-top: 0px;
	margin-bottom: 15px
	
}
.PAGES_merch_navbar_entry
{
	
	text-align: center;
	padding: 6px;
	border: 1px solid #dddddd;
	/*font-variant: small-caps*/
	
}
.PAGES_merch_navbar_entry:hover
{
	
	border: 1px solid #999999;
	background-color: #eeeeee
	
}
	

.PAGES_merch_navbar_entry_selected
{
	
	text-align: center;
	padding: 6px;
	border: 2px solid #bbbbbb;
	font-weight: bold;
	font-variant: small-caps
	
}
.PAGES_merch_navbar_entry_selected:hover
{

	border: 2px solid #999999;
	background-color: #eeeeee
	
}



.PAGES_merch_misc_table
{
	
	border: 2px solid #999999;
	padding: 10px
	
}