@CHARSET "ISO-8859-1";

.PAGES_issue_title
{
	
	font-weight: bold;
	font-size: 14pt;
	font-variant: small-caps;
	
	padding: 10px;
	width: 75%;
	border-top: 1px dotted #999999 
	
}


.PAGES_issue_story_headline
{
	
	font-weight: bold;
	font-size: 11pt;
	font-variant: small-caps;
	
	padding-left: 25px
	
}

.PAGES_issue_story_summary
{

	padding: 10px;
	padding-left: 50px;
	padding-bottom: 25px
	
}



























.PAGES_merch_navabr_container
{
	
	border-bottom: 2px dotted #999999;
	padding: 15px;
	padding-top: 0px;
	margin-bottom: 15px
	
}
.PAGES_merch_navbar_entry
{
	
	text-align: center;
	padding: 6px;
	border: 1px solid #dddddd;
	font-variant: small-caps
	
}
.PAGES_merch_navbar_entry:hover
{
	
	border: 1px solid #999999;
	background-color: #eeeeee
	
}
	

.PAGES_merch_navbar_entry_selected
{
	
	text-align: center;
	padding: 6px;
	border: 2px solid #bbbbbb;
	font-weight: bold;
	font-variant: small-caps
	
}
.PAGES_merch_navbar_entry_selected:hover
{

	border: 2px solid #999999;
	background-color: #eeeeee
	
}



.PAGES_merch_misc_table
{
	
	border: 2px solid #999999;
	padding: 10px
	
}