.PAP_submit_link
{

	border-bottom: 1px solid #999999;
	font-weight: bold;
	
	padding-bottom: 8px;
	margin-bottom: 8px;
	
	text-align: center

}

.PAP_text
{

	font-size: 10pt

}

.PAP_submit_table td
{

	padding: 5px;
	font-size: 9pt
	
}