body, html, td, div, p, table, span  
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	color:#222244;
	background-color:#FFFFFF

}

body
{

	margin-left:30px;
	margin-top:30px

}


h1
{
	font-size:15pt;
	font-weight:bold
}

h2
{
	font-size:13pt;
	font-weight:bold
}

h3
{
	font-size:11pt;
	font-weight:bold
}

h4
{
	font-size:10pt;
	font-weight:bold
}


a
{
	color:blue
}

a:visited, a:active
{
	color:blue
}

a:hover
{
	color:red
}



















<!-- SPECIFIC CUSTOM STYLES -->
.errorMessage
{
	font-size:8pt;
	color:red
}

.errorMessageTitle
{
	font-size:10pt;
	font-weight:bold;
	color:red
}

.noticeMessage
{
	font-size:8pt;
	color:blue
}

.noticeMessageTitle
{
	font-size:10pt;
	font-weight:bold;
	color:blue
}

div#optionsHeader
{
	border:2px solid #7777dd;
	padding:5px;
	text-align:center;
	margin: 0px 10px 0px 10px;
	float:left
}

div#optionsHeaderSpace
{
	border:0px solid #7777dd;
	padding:5px;
	text-align:center;
	margin: 0px 30px 0px 30px;
	float:left
}

div#optionsHeader:hover
{
	border:4px solid red;
	padding:5px;
	font-weight:bold;
	text-align:center;
	margin: 0px 10px 0px 10px;
	float:left
}

div#optionsHeaderSelected
{
	border:4px solid #7777dd;
	padding:5px;
	font-weight:bold;
	text-align:center;
	margin: 0px 10px 0px 10px;
	float:left
}

.categoriesTableLeft	
{

	padding:10px;
	padding-left:100px;
	padding-right:100px;
	border: 1px solid #999999
	
}

.categoriesTableRight	
{

	padding:5px;
	padding-left:20px
	
}

table#editContacts	
{
	border-left: 1px solid #bbbbbb;
	padding-left: 15px
}

div#showContact	
{
	width:500px;
	border-left: 1px solid #bbbbbb;
	padding-left: 15px
}











<!-- FORMS -->
input, select, option, textarea, checkbox
{
	background-color:#ddeeff;
	font-size:9pt;
	padding:4px
}

input, select, textarea, submit, button
{
	border: 2px solid #2277dd
}