.mainBar		{	width:608px;
					padding-right:20px;
					border-right: 1px solid #000000;
					padding-top: 10px;
					margin-bottom: 40px;
					float: left
					
				}
				
				

				

				

.features_summary_list	{

					padding-top: 15px;
					margin-top: 15px

}

.feature_summary	{

	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #bbbbbb

}


.feature_summary:hover	{
	
	background-color: #f2f2f2
	
}

.new_feature_summary		{
	
	padding: 10px; 
	border: 2px solid #bbbbbb; 
	margin: 0px
	
}

.new_feature_summary:hover		{
	
	background-color: white
	
}


.feature_preview_image	{

				border: 2px solid black;
				margin-left: 8px;
				margin-bottom: 8px

}

.feature_preview_image:hover	{

				border: 2px solid #ff6600

}


.feature_back_link	{



}


.feature_date_line		{

		
		font-size: 11px;
		text-align: right
		

}

.feature_title		{

		font-size: 20px;
		font-weight: bold;
		text-align: center;
		
		width: 60%;
		margin: auto;
		
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		
		border-top: 1px solid black;
		border-bottom: 1px solid black

}

.feature_subtitle		{

		font-size: 20px;
		font-weight: bold;
		text-align: center;
		
		width: 95%;
		margin: auto;
		
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		

}

.feature_blurb	{

		font-size: 16px;
		font-weight: bold;
		width: 100%;
		text-align: center;
		margin: auto;
		padding-bottom: 30px;
		line-height: 1.5;

}

.feature_body	{
	line-height: 1.5;
	font-size: 15px;

}


.mainBar_right	{

	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 25px;
	float: left;
	width: 253px


} 



.feature_keywords	{

	text-align: right;
	border-top: 1px solid #bbbbbb;
	padding-top: 10px;
	margin-top: 15px;
	margin-left: 25%

}



.feature_print_friendly_link	{
	
	text-align: right;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;

	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px
	
}

.feature_print_friendly_link:hover	{
	
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999
	
}