.GENERAL_page_container
{
	
	width: 1056px;
	margin: auto;
	
	border-right: 1px dotted #999999;
	border-left: 1px dotted #999999;
	
	padding: 0px 10px 0px 10px
	
}




.GENERAL_page_header
{

	width: 1050px;
	
	border-bottom: 1px solid #999999;
	margin-bottom: 10px;
	padding-bottom: 10px

}


.GENERAL_wake_up_text
{
	
	font-weight: bold;
	font-size: 11pt
	
}


.GENERAL_schnews_logo
{
	
	
}


.GENERAL_main_graphic
{
	
	
	
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #999999;
	text-align: right


	
}

.GENERAL_copyleft_bar
{
	
	background-color: black;
	color: white;
	
	padding: 4px;
	
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
	text-align: center
	
}








.GENERAL_search_label
{
	
	padding: 2px;
	font-size: 9pt
	
}

.GENERAL_search_box
{
	
	padding: 2px;
	font-size: 9pt;
	
	background-color: white;
	border: 1px solid black
	
}

.GENERAL_search_submit
{
	
	padding: 2px;
	font-size: 9pt;
	font-weight: bold;
	
	background-color: white;
	border: 1px solid black
	
}

.GENERAL_search_submit:hover
{
	
	background-color: #dddddd;
	text-decoration: underline
	
}










.GENERAL_navbar_table
{
	
	padding: 5px;
	
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444
	
}

.GENERAL_footer_navbar_table
{
	
	padding: 5px;
	
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444
	
}


.GENERAL_navbar_item
{
	
	font-family: 'Arial';
	font-weight: 700;
	font-size: 10pt;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-variant: small-caps;
	
	padding: 2px 8px 2px 8px;
	
	margin: 2px;
	
	border: 1px solid #444444;
	background-color: #ffffff;
	border-radius: 2px
	
}
.GENERAL_navbar_item:hover
{
	
	border: 1px solid #000000;
	background-color: #dddddd
	
}

.GENERAL_navbar_link
{ text-decoration: none }
.GENERAL_navbar_link:hover
{ text-decoration: none }









.GENERAL_footer_container
{

	clear: both;
	width: 1035px;
	text-align: left;
	padding: 10px;
	
	position: relative;
	bottom: -10px;
	
	border-top: 1px solid #999999

}

.GENERAL_footer_contacts
{
	
	font-size: 7pt;
	clear:both
	
}

.GENERAL_footer_copyleft
{
	
	float:left; 
	padding-bottom: 10px;
	padding-top: 4px
	
}

.GENERAL_promo_links
{
	
	text-align: right
	
}

.GENERAL_this_weeks_issue
{
	
	border: 1px solid white
	
}
.GENERAL_this_weeks_issue:hover
{
	
	border: 1px solid #f60
	
}

.GENERAL_download_PDF
{
	
	font-weight: bold;
	font-variant: small-caps;
	font-size: 10pt;
	
	text-align: right;
	padding: 5px;
	
	border-top: 1px solid #bbbbbb
	
}
.GENERAL_download_PDF:hover
{
	
	border-top: 1px solid #999999
	
}


.GENERAL_email_in_banner
{
	
	font-weight: bold;
	
	font-size: 11pt;
	
	text-align: center;
	padding: 7px;
	
	border-top: 1px solid #bbbbbb
	
}
.GENERAL_email_in_banner:hover
{
	
	border-top: 1px solid #999999
	
}