.mainBar		{	width:608px;
					padding-right:20px;
					border-right: 1px solid black;
					padding-top: 10px;
					margin-bottom: 40px;
					float: left
					
				}

.mainBar_right	{	width:249px;
					border-right: 1px solid black;
					float: left;
					
					padding: 10px;
					
					padding-bottom: 50px;
					border-bottom: 1px solid black
					
				}
				
.story_preview_element	{

					padding-top: 10px;
					padding-bottom: 10px
					
				}

				
.backIssue		{

			border-bottom: 1px solid #bbbbbb;
			margin-bottom: 13px

}




.backIssue_image	{

			border: 2px solid black;
			margin-left: 8px;
			margin-bottom: 8px
	
}



.backIssue_image:hover	{

			border: 2px solid #ff6600

}