.mainBar		{	width:608px;
					padding-right: 13px;
					padding-left: 17px;
					border-right: 1px solid #999999;
					padding-top: 10px;
					margin-bottom: 40px;
					text-align:left;
					float: left	}
					
					
.leftBar		{	margin-top:0px;
					padding-right: 10px;
					width:110px;
					text-align:left
				}					
				
				
.mainBar_right	{	width:255px;
					border-right: 1px solid black;
					float: left;
					
					padding: 10px;
					
					padding-bottom: 50px;
					border-bottom: 1px solid black
					
				}				
				
				
.keyword_feature_image	{

					border: 2px solid black
					
				}
				
.keyword_feature_image:hover	{

					border: 2px solid #ff6600

				}
				
				

				
				
				
.pap_item_title	{

					font-size: 14px
	
}

.pap_item_summary	{
	
					font-size: 11px;
					color: black
	
}

.pap_item_detail	{
	
					font-size: 11px
	
}




.feature_summary	{
				padding: 4px 0px 4px 0px;
				border-top: 1px solid #bbbbbb
				
}

.feature_summary_blurb	{
	
				font-size: 8pt

}

.feature_summary_list	{

				margin-top: 10px;
				margin-bottom: 35px
				
}

.feature_preview_image	{

				border: 2px solid black;
				margin-left: 5px;
				margin-bottom: 5px

}

.feature_preview_image:hover	{

				border: 2px solid #ff6600

}
}