.mainBar		{	width:608px;
					padding-right:20px;
					border-right: 1px solid #999999;
					padding-top: 10px;
					margin-bottom: 40px;
					text-align:left;
					float: left	}
					
					
.leftBar		{	margin-top:0px;
					padding-right: 10px;
					width:110px;
					text-align:center
				}					
				
				
.mainBar_right	{	width:255px;
					border-right: 1px solid black;
					float: left;
					
					padding: 10px;
					
					padding-bottom: 50px;
					border-bottom: 1px solid black
					
				}				
				
				
.keyword_feature_image	{

					border: 2px solid black
					
				}
				
.keyword_feature_image:hover	{

					border: 2px solid #ff6600

				}
				
				
.contacts_title	{

				font-weight: bold;
				font-size: 24px;
				margin-left: 25%;
				margin-bottom: 20px;
				padding-bottom: 5px;
				width: 75%;
				text-align: right;
				border-bottom: 1px solid #bbbbbb;
				color: #999999

}

				
				
				
.contacts_item_title	{

					padding-top: 20px;
					font-size: 14px;
					font-weight: bold
	
}


.search_result
{
		font-style: italic;
		font-weight: bold;
		font-size: 14pt
}


.contact_container	{
	
	margin: 8px 0px 8px 0px;
	padding: 10px;

	background-color: #f8f8f8;
	border: 2px solid #f4f4f4
	
}


.contact_container:hover	{
	
	background-color: #f2f2f2;
	border: 2px solid #eaeaea
	
	
}


.pap_item_summary	{
	
					font-size: 11px;
					color: black
	
}

.pap_item_detail	{
	
					font-size: 11px
	
}




.feature_summary	{
				padding: 4px 0px 4px 0px;
				border-top: 1px solid #bbbbbb
				
}

.feature_summary_blurb	{
	
				font-size: 8pt

}

.feature_summary_list	{

				margin-top: 10px;
				margin-bottom: 35px
				
}

.feature_preview_image	{

				border: 2px solid black;
				margin-left: 5px;
				margin-bottom: 5px

}

.feature_preview_image:hover	{

				border: 2px solid #ff6600

}


.pap_title	{

				font-weight: bold;
				font-size: 24px;
				margin-left: 25%;
				margin-bottom: 20px;
				padding-bottom: 5px;
				width: 75%;
				text-align: right;
				border-bottom: 1px solid #bbbbbb;
				color: #333333

}








.section_title	{

	font-weight: bold; 
	font-size: 14px; 
	width: 50%; 
	margin-right: 50%; 
	border-bottom: 1px solid #bbbbbb; 
	padding-bottom: 5px

}



.pap_year		{
	
	font-weight: bold;
	font-size: 18px;
	text-align: right;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	width: 20%;
	margin-left: 80%
	
}


.pap_month	{
	
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 25px 0px 5px 0px;
	border-bottom: 1px solid #bbbbbb;
	width: 30%;
	margin-right: 70%
	
}


.pap_county	{
	
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #bbbbbb;
	width: 30%;
	margin-right: 70%
	
}


.pap_item	{
	
	margin: 8px 0px 8px 0px;
	padding: 10px;

	background-color: #f8f8f8;
	border: 2px solid #f8f8f8
	
}


.pap_item:hover	{
	
	background-color: #f2f2f2;
	border: 2px solid #eaeaea
	
	
}


.rss_subscription		{
	
	text-align: left;

	font-size: 11px;

	width: 45%;

	padding-top: 5px;
	

	border-top: 1px solid #bbbbbb;
	
	height: 32px;

	float: left
	
}

.csv_download		{
	
	text-align: right;

	font-size: 11px;

	width: 40%;
	margin-left: 60%;

	padding-top: 5px;
	margin-top: 20px;

	border-top: 1px solid #bbbbbb;
	
	height: 32px
	
}






.contacts_category_list	{
	
		text-align: center;
		background-color: #f8f8f8;
		border: 2px solid #f1f1f1;
		padding: 20px
	
}

.contacts_category_list:hover	{
	
		border: 2px solid #dddddd;
		background-color: #f2f2f2
	
}


.contacts_search_list	{
	
		text-align: left;
		background-color: #f8f8f8;
		border: 2px solid #f1f1f1;
		padding: 20px
	
}

.contacts_search_list:hover	{
	
		border: 2px solid #dddddd;
		background-color: #f2f2f2
	
}




.add_form_category	{
	
		border: 1px solid #ffffff;
		padding: 2px
	
}

.add_form_category:hover	{
	
		border: 1px solid #bbbbbb;
		background-color: #fafafa
	
}


.add_form_title	{
	
		font-weight: bold;
		font-size: 14px;
		margin: 20px 0px 10px 20px;
		
	
}


.add_form_intro	{
	

		margin: 0px 20px 25px 20px;
		padding-bottom: 10px;
		padding-left: 20px;
		border-bottom: 1px solid #bbbbbb
	
}




