.mainBar		{	width:608px;
					padding-right:20px;
					border-right: 1px solid #999999;
					padding-top: 10px;
					margin-bottom: 40px;
					text-align:left
				}
					
					
.leftBar		{	margin-top:0px;
					padding-right: 10px;
					width:110px;
					text-align:left
				}					
				
.issueCommentLink	{ color:#ff6600	}

.issueCommentLink:hover	{	color:#ff9900	}

.issueComments { display: none }



.mainBar_right	{	width:255px;
					border-right: 1px solid black;
					float: left;
					
					padding: 10px;
					
					padding-bottom: 50px;
					border-bottom: 1px solid black
					
				}
				
				
				

				
				
				
				
				
				
				
.feature_summary	{
				padding: 4px 0px 4px 0px;
				border: 1px solid white;
				border-top: 1px solid #bbbbbb
				
}

.feature_summary:hover	{
	
				background-color: #f8f8f8;
				
				border-left: 1px solid #bbbbbb;
				border-right: 1px solid #bbbbbb
	
}


.feature_summary_blurb	{
	
				font-size: 8pt

}

.feature_summary_list	{

				margin-top: 10px;
				margin-bottom: 35px
				
}

.feature_preview_image	{

				border: 2px solid black;
				margin-left: 5px;
				margin-bottom: 5px

}


.feature_preview_image:hover	{

				border: 2px solid #ff6600

}

.issue_main_story_headline	{
	
	font-size: 22px;
	font-weight: bold;

	text-align: center;

	margin-bottom: 10px;
	padding: 10px 0px 10px 0px;
	
}

.issue_main_image	{
	
	border: 2px solid black;
	float: right
	
}
