.issue_summary_article	{
	
		border: 1px solid white;
		background-color: #ffffff;
		padding: 5px
	
}


.issue_summary_article:hover	{
	
		border: 1px solid #dddddd;
		background-color: #f2f2f2;
		padding: 5px
	
}