.pages_merch_distro_list_title
{
	
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	
	margin: 15px;
	padding: 10px;
	
	border-top: 2px solid #666666;
	border-bottom: 2px solid #666666
	
}

.pages_merch_distro_list_heading
{
	
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #aaaaaa;
	font-size: 13px
	
}

.pages_merch_distro_list_entry
{
	
	margin: 5px;
	padding: 5px;
	
	border: 2px solid #eeeeee;
	background-color: #fafafa
	
}

.pages_merch_distro_list_entry:hover
{
	
	margin: 5px;
	padding: 5px;
	
	border: 2px solid #e4e4e4;
	background-color: #eeeeee
	
}

.pages_merch_distro_list_name
{
	
	font-weight:bold;
	padding: 3px
	
}

.pages_merch_distro_list_address
{
	
	padding: 6px;
	padding-left: 15px
	
}

.pages_merch_distro_list_phone
{
	
	padding: 6px;
	padding-left: 15px
	
}

.pages_merch_distro_list_email
{
	
	padding: 6px;
	padding-left: 15px
	
}

.pages_merch_distro_list_website
{
	
	padding: 6px;
	padding-left: 15px
	
}