/*
 * 	Style for the Merch Books Distro List
 * 
 */



.pages_merch_distro_list_title
{
	
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
	padding-top: 5px;
	padding-bottom: 5px	
	
}

.pages_merch_distro_list_entry
{
		border: 1px solid white;
		background-color: #ffffff;
		padding: 5px
}

.pages_merch_distro_list_entry:hover
{
		border: 1px solid #dddddd;
		background-color: #f2f2f2;
		padding: 5px
}

.pages_merch_distro_list_name
{
	font-weight: bold
}

.pages_merch_distro_list_address
{
	padding-left: 10px;
	padding-bottom:6px
}

.pages_merch_distro_list_phone
{
	padding-left: 10px;
	padding-bottom:6px
}

.pages_merch_distro_list_email
{
	padding-left: 10px;
	padding-bottom:6px
}
