.navBar			{
					position:absolute;
					left: 0px;
					top: 90px;
					background-color:#f60;
					width:100%;
					padding-left:126px
										
				}			
				
.copyleftBar	{
					position:absolute;
					left: 0px;
					top: 122px;
					width:100%;
					padding-left:126px
										
				}	
				
.mainBar		{	
					padding-top: 60px	;
					width:490px	
				}			
				
.leftBar		{	
					text-align:center;
					padding: 0 8 0 8 
				}				
			

.rightBar		{
					width: 150px;
					padding-top:60px

				}			
				