body {
	background-color: #ffffcc;
	margin: 0px 0px 0px 0px
}

body, td	{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt
}

H4 {
	font-size:larger
}

H3 {
	font-size: 14pt;
	 font-weight: bold
}

.small {
	font-size:10px
}

A:link {
}

A:visited {
}

A:active {
}

a	{ color:#ff6600 }

a:hover { color:#FF9900 }

h2 {  font-size: large; font-weight: bold}

pre { font-size: smaller
}

.big-white-text {
	color: #FFFFFF;
	font-size:larger;
	font-weight:bold;
}





















.pageHeader		{	padding-left:9px;
					background-color:white
				}
				
.leftBar		{
					float: left;
					width:120px;
					text-align:center;
					padding-top: 6px;
					margin-top:32px;
					padding-left:6px
				}
				
.mainBar		{
					float:left;
					
					width:350px;
					text-align:justify;
					padding-left: 10px;
					padding-right:10px;
					border-right: 1px solid #000000;
					border-left: 1px solid #000000;
			
				}			
				
.navBar			{
					background-color:#f60;
					width:100%;
					padding-left:126px
										
				}			
				
.copyleftBar	{
					
					width:100%;
					padding-left:126px
										
				}	
				
				
.footer			{					
					float:left;
					clear:left;
					padding: 10px 0px 10px 136px;
					width: 700px
				}					
				
				
				
.website		{ 	
					display: none 	
				}