body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 6px;
	background-image:url(images_main/background-more-orange.gif);
	
}

* 	{ 

	line-height: 1.6;
}

p, ul, ol  {
	font-family: times, serif;
	font-size: 15px;
}	

td {
	font-size: smaller;
	font-family:Arial, Helvetica, sans-serif
}

H1 {
	font-size:larger;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}


H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold
}

H3 {
	font-size: medium;
	font-family:Arial, Helvetica, sans-serif;
}

.small {
	font-size:small; 
	font-family:Arial, Helvetica, sans-serif
}

A:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

A:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

A:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

A:HOVER	{ color:#FF9900 }

#heading-links {  font-family: Arial, Helvetica, sans-serif; font-size: large; color: #FF6600}

#small-links {  font-family: Arial, Helvetica, sans-serif; font-size: 1; color: #FF6600}

#big-links-no-ul {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px;
	color:#FFFFFF; 
	font-weight: bold; 
	text-decoration: none;
}


/* TOP HORIZONTAL MENU CSS CODE */	

#navigation {
	margin-left:0px;
	margin-top:0px;	
	margin-bottom:0px;
}
	
#nav {
 margin: 0px; 
 padding:0; 
 margin-left:0px; 
 margin-top:0px;
 color:#FFFFFF;
}

#nav li{
 list-style: none; 
 float: left;
 margin: 0px;
 border-left: 1px solid black;
 background-color: #FF6600;
 font-weight: bold;
 text-align: left;
}

#nav li a{
	text-decoration: none;
	display: block;
	color : #000000;
	font-weight: bold;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 0px;
	margin-top: 3px;
	font-size: 11px;
	width: 6em;
	height:29px;
}

#nav>li a{ width:6em;} /*Mozilla Fix*/

#nav a:hover{
	background-color:#000000;
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 0px;
	margin-top: 3px;
	width: 6em;
	height: 29px;
}