body {
	  background-repeat:repeat-x;
	  background-image:url(background-01.gif)
}


table, td {
		   font-size:x-small;
	       font-family:Verdana, Arial, Helvetica, sans-serif
} 

.small {
		font-size:small; 
		font-family:Verdana, Arial, Helvetica, sans-serif
}

h2 {
	font-size:medium;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold
}

h3 {
	font-size:large;
	font-family:Verdana, Arial, Helvetica, sans-serif
}	

h4 {
	font-size:larger; 
	font-family:Verdana, Arial, Helvetica, sans-serif
}


a:link {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		text-decoration:underline; color:#F60;
}

a:hover {
		  
		 color:#FF9900
}

a:active {
		  font-family:Verdana, Arial, Helvetica, sans-serif;
		  text-decoration:underline; color:#F60;
}

a:visited {
		   font-family:Verdana, Arial, Helvetica, sans-serif;
		   text-decoration:underline; color:#F60;
}

.dropdown {
		  font-family:Verdana, Helvetica, Arial, sans-serif;
		  font-size:10px; color:#000;
		  background-color: #FFF;  
}

.inputbox {
		   background-color:#FFF; padding:3px;
		   border:1 solid; border-color:#000;
		   font-family:Verdana, Helvetica, Arial, sans-serif;
		   font-size:10px; color:#000		   
}

.button  {
		  font-family:Verdana, Helvetica, Arial, sans-serif;
		  font-size:10px; color:#000;
		  background-color: #FFF;	   
}